poetry
gunicorn
uvicorn[standard]
websocket
fastapi
fastapi-utilities
cloudpickle
h5py
grpcio
urllib3
typing-inspect
typing_extensions
pydantic
requests
langchain
langchain-community
langchain-core
langchain-google-vertexai
google-adk==1.1.1
google-cloud-aiplatform[adk, agent_engines]==1.95.1
google-cloud-bigquery
google-cloud-tasks
google-cloud-logging
google-cloud-speech
python-multipart