websockets==14.2
google-auth==2.40.3
certifi==2024.12.14
requests==2.32.3
google-genai==1.31.0
aiohttp==3.12.15
python-dotenv==1.1.1
google-api-python-client==2.179.0
google-auth-oauthlib==1.2.2
google-cloud-secret-manager==2.24.0