# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/generative-ai-devrel are the default owners for changes in this repo
*                                                           @GoogleCloudPlatform/generative-ai-devrel

/generative-ai/conversation                                 @koverholt @kmaphoenix @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/embeddings                                   @kazunori279 @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/embeddings/use-cases/outlier-detection       @rarsan @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini                                       @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/evaluation                            @inardini @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/function-calling                      @koverholt @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/getting-started                       @gericdong @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/grounding                             @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/responsible-ai                        @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/education                   @PicardParis @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retail                      @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/applying-llms-to-data/using-gemini-with-bigquery-remote-functions @shanecglass @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language                                     @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/getting-started                     @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/grounding                           @koverholt @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/orchestration/langchain             @kweinmeister @RajeshThallam @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/prompts                             @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/sample-apps                         @rominirani @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/translation                         @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/tuning                              @erwinh85 @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases                           @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/applying-llms-to-data     @ashleyxuu @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/document-qa               @RajeshThallam @lavinigam-gcp @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/document-summarization    @polong-lin @iamthuya @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/prod-catalog-enrichment   @slatawa @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/sql-code-generation       @rarsan @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/sql-code-generation/sql_code_generation_langchain.ipynb @rarsan @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/search                                       @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/search/retrieval-augmented-generation        @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/speech/getting-started                       @inardini @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/speech/use-cases/storytelling                @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/vision/use-cases                             @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/vision/getting-started                       @iamthuya @GoogleCloudPlatform/generative-ai-devrel
