# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/generative-ai-devrel are the default owners for changes in this repo
*                                                           @GoogleCloudPlatform/generative-ai-devrel

/generative-ai/conversation                                 @koverholt @kmaphoenix @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/embeddings                                   @kazunori279 @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/embeddings/use-cases/outlier-detection       @rarsan @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini                                       @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/evaluation                            @jsondai @inardini @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/function-calling                      @koverholt @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/getting-started                       @gericdong @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/grounding                             @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/reasoning-engine                      @koverholt @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/reasoning-engine/tutorial_alloydb_rag_agent.ipynb @averikitsch
/generative-ai/gemini/reasoning-engine/tutorial_cloud_sql_pg_rag_agent.ipynb @averikitsch
/generative-ai/gemini/responsible-ai                        @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/sample-apps/photo-discovery           @kazunori279 @KhanhNwin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/education                   @PicardParis @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retail                      @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/applying-llms-to-data/using-gemini-with-bigquery-remote-functions @shanecglass @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language                                     @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/getting-started                     @polong-lin @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/grounding                           @koverholt @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/orchestration                       @koverholt @kweinmeister @RajeshThallam @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/prompts                             @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/prompts/prompt_optimizer            @nhootan @inardini @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/sample-apps                         @rominirani @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/translation                         @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/tuning                              @erwinh85 @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases                           @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/applying-llms-to-data     @ashleyxuu @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/document-qa               @RajeshThallam @lavinigam-gcp @GoogleCloudPlatform/generative-ai-devrel @Adi8885
/generative-ai/language/use-cases/document-summarization    @polong-lin @iamthuya @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/prod-catalog-enrichment   @slatawa @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/sql-code-generation       @rarsan @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/sql-code-generation/sql_code_generation_langchain.ipynb @rarsan @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/search                                       @agarwal22megha @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/search/retrieval-augmented-generation        @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/speech/getting-started                       @inardini @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/speech/use-cases/storytelling                @holtskinner @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/vision/use-cases                             @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/vision/getting-started                       @iamthuya @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/intro_multimodal_use_cases.ipynb        @saeedaghabozorgi @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/sample-apps/genwealth/                @paulramsey @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/sample-apps/finance-advisor-spanner/  @anirbanbagchi1979 @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/applying-llms-to-data/analyze-poster-images-in-bigquery/poster_image_analysis.ipynb     @aliciawilliams @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retail/product_attributes_extraction.ipynb    @tianli @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retrieval-augmented-generation/RAG_Based_on_Sensitive_Data_Protection_using_Faker.ipynb @ainaomotayo @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retrieval-augmented-generation/rag_qna_langchain_bigquery_vector_search.ipynb @ashleyxuu @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retrieval-augmented-generation/retail_warranty_claim_chatbot.ipynb @zthor5 @charleselliott @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/data-generation/synthetic_data_generation_using_gemini.ipynb    @vagrantism @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/prompts/examples/chain_of_thought_react.ipynb     @ChrisHanna @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/tuning/supervised_finetuning_using_gemini.ipynb   @dmoonat @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/responsible-ai/gemini_safety_ratings.ipynb        @ghchinoy @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/sensitive-data-detection/context_aware_sensitive_data_detection.ipynb @jegadesh-google @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/marketing-image-overlay/marketing_image_overlay.ipynb @rohitnaiduG @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/description-generation/product_description_generator_attributes_to_text.ipynb @anantnawal @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/use-cases/chatbots/grocerybot_assistant.ipynb   @eliasecchig @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/language/tuning/distilling_step_by_step/distilling_step_by_step.ipynb    @anihm136 @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/vision/gradio/gradio_image_generation_sdk.ipynb  @jbrache @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/search/retrieval-augmented-generation/examples/contract_analysis.ipynb   @guruvittal @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/genkit/generate-synthetic-database           @aikozhaoz @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/genkit/postcard-generator                    @mattsday @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/evaluation/evaluate_langchain_chains.ipynb           @eliasecchig @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retrieval-augmented-generation/rag_qna_with_bq_and_featurestore.ipynb           @eliasecchig @lspatarog @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/tuning/gemini_supervised_finetuning_text_classification.ipynb           @gabrielahrlr @eliasecchig @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/open-models/serving         @polong-lin @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/open-models/serving/cloud_run_ollama_gemma2_rag_qa.ipynb       @eliasecchig @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/open-models/serving/vertex_ai_text_generation_inference_gemma.ipynb  @alvarobartt @philschmid @pagezyhf @jeffboudier
/generative-ai/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb     @sethijaideep @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/use-cases/retrieval-augmented-generation/raw_with_bigquery.ipynb @jeffonelson @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/sample-apps/e2e-gen-ai-app-starter-pack       @eliasecchig @lspatarog @mariagpuyol @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/vision/use-cases/hey_llm                     @tushuhei @GoogleCloudPlatform/generative-ai-devrel
/generative-ai/gemini/sample-apps/llamaindex-rag/backend/indexing/ @Lionel-Lim @GoogleCloudPlatform/generative-ai-devrel
