functions-framework==3.*
google-api-core==2.24.0
google-cloud-documentai==2.35.0
google-cloud-core==2.4.1
google-cloud-pubsub==2.27.1
google-cloud-storage==2.19.0
langchain==0.3.13
langchain-core==0.3.28
langchain-google-alloydb-pg==0.8.0
langchain-google-vertexai==1.0.10
langchain-text-splitters==0.3.4
