functions-framework==3.*
google-api-core==2.19.2
google-cloud-documentai==2.32.0
google-cloud-core==2.4.1
google-cloud-pubsub==2.23.0
google-cloud-storage==2.18.2
langchain==0.3.0
langchain-core==0.2.38
langchain-google-alloydb-pg==0.6.0
langchain-google-vertexai==1.0.10
langchain-text-splitters==0.2.4
