.DS_Store

__pycache__/
.idea/
.iml
.vscode/
.venv/
env
bin
lib

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/**/frontend/dist
/**/frontend/tmp
/**/frontend/out-tsc
/**/frontend/bazel-out

# Node
/**/frontend/node_modules
/**/frontend/npm-debug.log
/**/frontend/yarn-error.log

# IDEs and editors
/**/frontend/.idea/
/**/frontend/.project
/**/frontend/.classpath
/**/frontend/.c9/
/**/frontend/*.launch
/**/frontend/.settings/
/**/frontend/*.sublime-workspace

# Visual Studio Code
/**/frontend/.vscode/*
/**/frontend/!.vscode/settings.json
/**/frontend/!.vscode/tasks.json
/**/frontend/!.vscode/launch.json
/**/frontend/!.vscode/extensions.json
/**/frontend/.history/*

# Miscellaneous
/**/frontend/.angular/cache
/**/frontend/.sass-cache/
/**/frontend/connect.lock
/**/frontend/coverage
/**/frontend/libpeerconnection.log
/**/frontend/testem.log
/**/frontend/typings

# System files
/**/frontend/.DS_Store
/**/frontend/Thumbs.db
