.toast-content {
  color: #ffffff;
  font-family: "Google Sans", sans-serif !important;
}

.close-toast {
  margin-left: auto;
  align-self: baseline;
  cursor: pointer;
}

.red-toast {
  background-color: #ed0c0c !important;
}
.green-toast {
  background-color: #06865e !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
}
