PROJECT_ID=<Your GCP Project ID>
LOCATION=<Your GCP Location, for example: us-central1>
STORAGE_BUCKET=<Your GCS Bucket starting with gs://>
GEMINI_ENTERPRISE_APP_ID=<Your Gemini Enterprise App ID. You can create a new App or use an existing one on GCP Gemini Enterprise.>
AGENT_AUTHORIZATION=<Your Agent Authorization. See details in README.md>
