streamlit
ollama
langchain
requests
PyPDF2
tiktoken
faiss-cpu
pandas 
fsspec 
gcsfs
google-cloud-discoveryengine>=0.13.6
google-genai>=1.5.0
langchain-google-vertexai
langchain-google-community
asynciolimiter
asyncio
tqdm
re
json

