table {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

tr.prospect-detail-row {
    height: 0;
}

tr.prospect-element-row:not(.prospect-expanded-row):hover {
    background: whitesmoke;
}

tr.prospect-element-row:not(.prospect-expanded-row):active {
    background: #efefef;
}

.prospect-element-row td {
    border-bottom-width: 0;
}

.prospect-element-detail {
    overflow: hidden;
    display: flex;
}

.prospect-picture {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.prospect-bio {
    padding: 16px;
}

.no-results {
    color: red;
}
