<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Conditions</title>
  </head>
  <style>
    body { margin-left: 20px; /* Set left margin for the content */ } h1 {
    text-align: center; /* Center the main heading */ } /* Add more styles as
    needed */
  </style>
  <body>

    <h1>Loan Agreement</h1>

    <p>
      I/we, “the Borrower(s)” do hereby irrevocably and unconditionally agree
      and undertake, so as to bind myself/ourselves, my / our heirs, executors,
      administrators, estates, assigns and effects as follows, viz. a) The
      disbursement of the amount of the loan shall be at the Bank’s absolute
      discretion and shall be co-related to the actual progress in the
      construction of the project. Such disbursements shall be made by means of
      Bankers cheques drawn in favor of the builders/promoters duly authorized
      or to engineer / architect / contractor or to suppliers of goods and
      services when the construction is undertaken by the Borrower and instruct
      you to make payment for the purpose of the ‘project’. The Bank may, at
      your discretion and at my/our request credit a part of the loan amount to
      my/our current/savings bank account (maintained in single or joint names)
      to enable me/us to make payments to suppliers of goods and services. I/We
      shall submit to the Bank, within a reasonable time, satisfactory proof of
      the proper utilization of the amount of the loan, such as Architect’s
      certificate, certifying the value of the work carried out, Contractor’s
      bills, stamped receipts, sale agreement for house / flat etc. If
      considered necessary by the Bank, I/we shall produce, at my/our cost,
      photographs showing the progress of construction work carried out by me /
      us,which photographs besides showing portion of the neighboring
      properties, shall be certified by persons whose certificates are
      acceptable to the Bank. b) i I/We shall repay the amount of loan as per
      arrangement/sanction letter which forms part of this Agreement in equated
      monthly installments of Rs....... each till the entire loan with interest
      is fully repaid. The equated monthly installments also include interest
      component. b) ii The house should be constructed on the plot financed by
      the Bank within a period of 5 years from the date of first disbursement of
      the loan and completion certificate should be submitted to the Bank within
      5 years from the date of first disbursement. In case of failure to
      construct the house and/or non-submission of completion certificate within
      the stipulated time period of 5 years from the date of first disbursement,
      the amount of the loan or the balance outstanding with applicable interest
      shall be repayable at once and in the event of failure to fully repay the
      loan amount/loan outstanding with applicable interest the account shall be
      classified as NPA and the Bank shall be at liberty to take such steps to
      recover its dues and enforce the security as provided under law. 3. Rate
      of Interest on Loans: 3 A) Fixed Rate of Interest Interest on the loan
      will be fixed at ….... % per annum on daily reducing balance with monthly
      rests for a period of ........years from the date of first disbursement.
      Thenceforth the interest rate in the account will be reset to floating
      Home Loan card rate prevailing as on the date of reset. The effective rate
      of Interest on the loan outstanding will be charged at the rate of ……%
      (spread) above RBI’s Repo Rate which is …. % p. a as on 01st day of
      current calendar quarter. The present effective rate of interest being …%
      p. a calculated on daily balance of the loan amount at monthly rests,
      subject to the interest rate reset on the 1st day of every calendar
      quarter, on the basis of the prevailing RBI Repo Rate. The spread is sum
      of Credit Risk Premium of ……% and other cost including operating cost. The
      Bank shall at any time and from time to time be entitled to change Credit
      Risk Premium when borrower’s credit assessment undergoes change. Also,
      other cost including operating cost can be altered periodically at Bank’s
      discretion.”. The Bank has the option to reduce or increase the EMI or
      extend the repayment period or both consequent upon revision in interest
      rate. The Bank shall be entitled to charge at its own discretion such
      enhanced rate of interest on the account(s) either on the entire
      outstanding or on a portion thereof as it may fix for any irregularity
      including nonobservance or non-compliance of terms and conditions of the
      loan, for such period as the Bank deems it necessary and charging of such
      enhanced rate of interest shall be without prejudice to the Bank's other
      rights and remedies. Borrower shall be deemed to have notice of change in
      the rate of interest when the changes are notified at/displayed at the
      branch notice board or published in a newspaper or in the website of the
      Bank or made through the statement of account / pass book. 3B) Loan on
      floating interest rate basis The effective rate of Interest on the loan
      outstanding will be charged at the rate of ……% (spread) above RBI’s Repo
      Rate which is …. % p. a as on 01st day of current calendar quarter. The
      present effective rate of interest being …% p. a calculated on daily
      balance of the loan amount at monthly rests, subject to the interest rate
      reset on the 1st day of every calendar quarter, on the basis of the
      prevailing RBI Repo Rate. The spread is sum of Credit Risk Premium of ……%
      and other cost including operating cost. The Bank shall at any time and
      from time to time be entitled to change Credit Risk Premium when
      borrower’s credit assessment undergoes change. Also, other cost including
      operating cost can be altered periodically at Bank’s discretion. The Bank
      has the option to reduce or increase the EMI or extend the repayment
      period or both consequent upon revision in interest rate. The Bank shall
      be entitled to charge at its own discretion such enhanced rate of interest
      on the account(s) either on the entire outstanding or on a portion thereof
      as it may fix for any irregularity including non-observance or
      non-compliance of terms and conditions of the loan, for such period as the
      Bank deems it necessary and charging of such enhanced rate of interest
      shall be without prejudice to the Bank's other rights and remedies.
      Borrower shall be deemed to have notice of change in the rate of interest
      when the changes are notified at/displayed at the branch notice board or
      published in a newspaper or in the website of the Bank or made through the
      statement of account / pass-book. The Bank has the option to reduce or
      increase the EMI or extend the repayment period or both consequent upon
      revision in interest rate. The Bank shall be entitled to charge at its own
      discretion such enhanced rate of interest on the account(s) either on the
      entire outstanding or on a portion thereof as it may fix for any
      irregularity including non-observance or non-compliance of terms and
      conditions of the loan, for such period as the Bank deems it necessary and
      charging of such enhanced rate of interest shall be without prejudice to
      the Bank's other rights and remedies. Borrower shall be deemed to have
      notice of change in the rate of interest when the changes are notified
      at/displayed at the branch notice board or published in a newspaper or in
      the website of the Bank or made through the statement of account /
      pass-book The Bank has the option to reduce or increase the EMI or extend
      the repayment period or both consequent upon revision in interest rate.
      The Bank shall be entitled to charge at its own discretion such enhanced
      rate of interest on the account(s) either on the entire outstanding or on
      a portion thereof as it may fix for any irregularity including
      nonobservance or non-compliance of terms and conditions of the loan, for
      such period as the Bank deems it necessary and charging of such enhanced
      rate of interest shall be without prejudice to the Bank's other rights and
      remedies. Borrower shall be deemed to have notice of change in the rate of
      interest when the changes are notified at/displayed at the branch notice
      board or published in a newspaper or in the website of the Bank or made
      through the statement of account /pass-book 3 C) Salary account
      concession$ I / We, the Borrower(s), am/are aware that concession of
      ..........% p.a. is included in the above mentioned interest rate on
      account of maintenance of my/our salary account with the Bank and the same
      is referred as Salary Account Concession in this Agreement. I/We declare
      and confirm that in the circumstances like change in job etc., wherein the
      salary is not credited by my/our employer to account maintained with the
      Bank, I/We undertake to advise such development to the Bank, further I/We
      would issue standing instructions to the salary account servicing bank to
      transfer entire salary credit to my/our account maintained by the Bank for
      continuation of Salary Account Concession as mentioned above and for the
      limited purpose of continuation of concessions in interest rates, my /our
      account with the Bank under the arrangement will be reckoned as
      pseudo-salary account. I/We further agree and confirm that in the event of
      discontinuation of my/our salary account/pseudo salary account with the
      Bank, the Bank shall have the right to withdraw the salary account
      concession and the Bank shall have the right to revise the interest rate
      accordingly and I/We will not raise any objection /dispute to the said
      action of the Bank”. $ delete, if not applicable Without prejudice to the
      Bank’s other rights and remedies, the Bank shall be entitled to charge at
      its own discretion enhanced rates of interest on the outstanding in the
      loan account (s) or a portion thereof for any default or irregularity on
      my/our part which in the opinion of the Bank warrants charging of such
      enhanced rates of interest for such period as the Bank may deem fit. The
      Equated Monthly Instalments will have to be paid till the entire loan and
      the interest is fully repaid. Further, the amount of Equated Monthly
      Instalment may change/increase as may be decided by the Bank. Besides the
      Bank shall also charge a penalty, the rate of which shall be at the
      discretion of the Bank, for every bounced cheque for any reason whatsoever
      in addition to the enhanced rate of interest as applicable. Such enhanced
      interest will start accruing from the date of disbursement of the loan or
      the date of disbursement of the first instalment of the loan where such
      loan is paid in instalments or from 30 days from the due date of equated
      monthly instalments (EMI) if it remains unpaid for a period of 30 days
      from the due date, for any reason, including bounced cheque. c) If the
      loan amount has been utilised by me/us for purchase of ready built
      house/flat, I/we shall pay the first such monthly instalment following the
      month in which the loan amount is disbursed to me/us. The subsequent
      monthly instalments shall be paid before the last day of each subsequent
      month. If the loan amount has been utilised for construction of /
      additions to house / flat, I / we may be permitted to pay the first such
      monthly instalment till 2 months after the month in which the house / flat
      has been completed or on the expiry of 18 months from the date of
      disbursement of the first installment, whichever may be earlier. The
      subsequent monthly instalments will be paid before the expiry of each
      subsequent month. d) Pre-EMI Interest: (i) * I/We have opted for servicing
      of Pre-EMI interest and have already delivered or hereby undertake to
      deliver post-dated cheques drawn at monthly intervals for servicing of the
      amounts of Pre-EMI interest during the moratorium period. (ii) * I/We have
      opted for capitalizing the Pre-EMI interest and agree that loan amount
      will be fixed suitably taking into account approximate Pre-EMI interest
      during the moratorium period as detailed in paragraph pertaining to the
      Pre-EMI interest in the Arrangement letter dated………………. I / We hereby
      unconditionally agree to execute necessary authority in favor of my / our
      employer or tender post-dated cheques towards EMI’s of the loan amount. If
      necessary I/we would request for resetting of EMI’s based on the actual
      outstanding in the loan account after final disbursement. (* score off
      whichever is not applicable) e) I/We declare and confirm that the amount
      of the loan or the balance then outstanding shall become payable at once
      in case of my death or death of anyone of us. In case of death, the Bank
      may, at its discretion, continue the loan provided sufficient collateral
      security is furnished by my/our legal heirs/surviving borrower(s) or some
      satisfactory arrangement for repayment acceptable to the Bank has been
      made by my/our legal heirs/surviving borrower(s). f) I/We shall arrange
      for the payment of the equated monthly instalments from my/our monthly
      salary or in whatever manner deemed fit * or by debit on the due dates
      from the Current /Savings Bank account with Branch/or any other Branch
      where I/we may hold the account singly or jointly and to appropriate the
      same in repayment of the said loan and interest. I/We shall execute in
      favour of the Bank a letter of authority, addressed to my/our employers to
      recover and pay to the Bank the equated monthly instalment from my/our
      salary every month*. * Delete if not appropriate. g) On demand I/We agree
      to deliver to the Bank post-dated cheques for the monthly instalments and
      warrant that the cheques will be honoured on first presentation. Any
      non-presentation of a cheque due to any reason will not affect my/our
      liability to pay the monthly instalments or any other sum. I/We agree to
      forthwith replace the cheques/issue fresh cheques, if required by the
      Bank. I/We shall not be entitled to call upon the Bank to refrain from
      presenting any cheque for payment and if I/we do so, the Bank shall
      nevertheless be entitled to present the cheque for payment and in the
      event of dishonour the provisions under the Negotiable Instruments Act,
      shall apply. I/We also agree to pay a penalty as stipulated by the Bank
      from time to time, for every bounced cheque for any reason whatsoever in
      addition to the enhanced rate of interest as applicable. h) I/We declare
      and confirm that on my/our retirement, the outstanding amount of the loan
      sanctioned to me will become repayable at once. The Bank may, at its
      discretion, continue the loan provided satisfactory arrangement for
      repayment, acceptable to the Bank has been made by me/us. i) In the event
      of cessation of my / our business/service with my / our employers by way
      of resignation or otherwise (except as a result of death or retirement),
      I/we undertake to repay to the Bank forthwith on demand the balance
      principal amount of the loan, or the balances then outstanding whichever
      is higher. j) In the event of my/our ceasing to be in business/service of
      my/our employer whether by retirement, resignation, death or by operation
      of law or for any other reason or cause whatsoever and howsoever the Bank
      shall be entitled at its discretion, to write to my/our employers to
      appropriate and set off (i) any amount which may then be payable by my/our
      employers to me/us whether by way of salary, allowances, bonus, other
      remuneration or any payment (whether ex-gratia or otherwise) whatsoever
      and (ii) any amount that may be standing to the credit of any account
      which I/we may have with my/our employers or with the Bank, either singly
      or jointly, towards repayment of the balance that may be then remaining
      due and payable by me/us in my/our said loan account together with
      interest thereon at the applicable rates upto the date of such repayment.
      Any such appropriation made by the Bank or my/our employers shall be
      conclusive and binding on me/us and my/our estate both in and out of
      court. In any event my / our liability to make repayment of the entire
      dues immediately shall remain valid till the entire amount with applicable
      interest as up to the date of payment has been realised by the Bank
      whether by way of recovery from my/our employer or otherwise. k) I/We will
      not sell assign, mortgage, charge or in any way encumber or alienate the
      said flat/house/land or any part thereof/furnishings so long as I/we
      am/are indebted to the Bank in the said loan account without prior
      permission of the Bank in writing. I/We undertake to give prior intimation
      to the Bank before letting out / giving on lease and licence the said flat
      / house. In the event of my/our account becoming irregular, NPA the Bank
      is at liberty to take vacant possession of building/flat/house (premises)
      from me/us, and hire the said premises at market rent for its commercial
      or residential purpose as the case may be and adjust the proceeds of the
      hire charges towards outstanding of my/our loan account. l) i I/We hereby
      declare and confirm that no proceedings under any of the provisions of the
      Income Tax Act, 1961 including but not limited to proceeding for default
      in compliance with the provisions of said Act/ rules/regulations
      thereunder or proceeding for recovery of tax/ interest/ any other amount
      or any such proceedings that might be construed as pending/ completed
      under Section 281 of the said Act are initiated, contemplated or pending
      against me/us for the time being and that no notice has been issued and/or
      served on me/us under Rule 2, 16 or 51 or any Rule of the Second Schedule
      to the said Act or under any other law and there are no other pending show
      cause notices or attachments whatsoever issued or initiated against the
      said flat/house/land/ immovable properties secured or otherwise or any of
      them or any part thereof. m) The loan shall be secured by a valid
      equitable/legal mortgage of the land/house/flat purchased/constructed by
      me/us for which the Loan facility is provided by executing/registering
      such documents in such form as may be decided by the Bank. I/We shall, if
      required by the Bank, give such further security as acceptable to the Bank
      forthwith on demand by the Bank. In case it is not possible to create
      security by way of mortgage as aforesaid I/we shall forthwith on demand
      arrange for other collateral securities, by way of pledge/hypothecation,
      such as Bank’s Fixed Deposits, National Savings Certificates, Kisan Vikas
      Patra, Life Insurance Policies, promissory notes issued by any Govt.,
      shares or debentures of the companies, sufficient quantity of gold or gold
      ornaments or other articles or things acceptable to the Bank as security
      for the loan. The loan shall also be secured by the guarantee of a person
      acceptable to the Bank and good for the loan amount involved and by
      mortgage of the guarantor’s property also or
      pledge/assignment/hypothecation of other securities acceptable to the Bank
      , if need be. n) I/We shall obtain at my/our cost and produce for the
      satisfaction of the Bank a certificate from the Advocate /Solicitors
      approved by the Bank certifying that I/we will have clear, valid and
      marketable title to the land/house/flat proposed to be purchased by me/us
      and agree that the Bank shall be entitled not to disburse any amount of
      the loan until such certificate has been produced by me/us. o) I/We shall
      maintain the flat/house in good tenantable repair and condition at my /our
      cost at all times so long as I/we am/are indebted to the Bank and that
      I/we shall ensure that the Bank’s security is not in any way jeopardised.
      I/we shall duly and punctually pay the charges, if any, payable to the
      Co-operative Housing Society/condominium association and also all the
      municipal/revenue taxes, charges, rates, cesses etc. from time to time
      payable by me/us in respect of the flat/house/land. The Bank shall be at
      liberty to inspect the flat/house/land at any reasonable time and I/we
      shall furnish all such information/particulars whatsoever as and when
      called upon to do so by the Bank. I / We shall provide the required no
      objection consent for creating a charge on the property secured for the
      Loan, from the Society /Condominium or any other permissions by any
      authority necessary for creating the security in favour of the Bank. p) I
      / We shall at my/our cost insure and keep insured in the joint names of
      myself/ourselves and the Bank my / our house/flat at all times against
      fire, flood, cyclone, typhoon, lightning, explosion, riot, strike,
      earthquake risks and other acts of God for such other risks for its full
      market value as desired by the Bank from time to time and shall endeavour
      to get the building in which my/our flat is situated insured against fire,
      flood, cyclone, typhoon, lightning, explosion, riot, strike, earthquake,
      risks and other acts of God at all times by the Co-operative housing
      society/apartment owner/association or any other body under whose control
      the building is vested. I/we shall deliver copies of the insurance
      policies, cover notes, premium receipts, etc., to the Bank. If I/we fail
      to effect such insurance the Bank will be at liberty but not obliged to
      insure the said house/flat against fire, flood, cyclone, typhoon,
      lightning, explosion, riot, strike, earthquake risks and other acts of God
      and debit the premium and other charges to any of my/our accounts with the
      Bank. I/we expressly agree and declare that the Bank shall be entitled to
      adjust, settle, compromise or refer to arbitration any dispute between the
      insurance company and the insured arising from or under or in connection
      with any such policy or policies of insurance and such adjustment,
      settlement, compromise or any award made on such reference to arbitration
      shall be valid and binding on me/us. I/we further agree that the Bank
      shall have a right to receive all moneys payable under any such policy or
      under any claim made thereunder and to give a valid receipt therefor and
      that the amount so received shall be credited to my/our loan account and
      I/we will not be entitled to raise any question that a larger sum might or
      ought to have been received or to dispute my/our liability for the balance
      remaining due on such account after such credit. q) I/We agree and declare
      that notwithstanding anything contained herein or in any other security
      documents the entire amount of the loan or the balances then due shall, if
      so decided by the Bank, become forthwith due and payable by me/us to the
      Bank, upon the happening of any of the following events and the Bank shall
      be entitled to enforce its dues and security. i) any instalment of the
      principal remaining unpaid for a period exceeding one month after the due
      date for payment thereof has expired; ii) any interest including penal
      interest remaining unpaid and in arrears for a period of one month after
      the same has become due whether demanded or not; iii) any breach or
      default in the performance or observance of any of the covenants contained
      in these presents and/or the security documents or any other term or
      condition relating to the term loans; iv) entering into any arrangement or
      composition with my/our creditors or committing any act of insolvency; v)
      any execution or distress being enforced or levied against the whole or
      any part of my/our property; vi) a receiver being appointed in respect of
      the whole or any part of my/our property; vii)the occurrence of any
      circumstances which is prejudicial to or impairs, imperils or depreciates
      or which is likely to prejudice, impair, imperil or depreciate the
      security given to the Bank ; and viii) the occurrence of any events or
      circumstances which prejudicially or adversely affect in any manner my/our
      capacity to repay the amount due under the loan. On the question whether
      any of the above event/s has/have happened, the decision of the Bank shall
      be conclusive and binding on me/us. Provided always that the Bank may in
      its discretion refrain from forthwith enforcing its rights under this
      Agreement in spite of the happening of the contingencies aforesaid and
      provided further that the failure or delay by the Bank in exercising any
      right, power or privilege hereunder or under any of the security documents
      shall not impair/extinguish the same or operate as waiver of the same nor
      shall any single or partial exercise of any right, power or privilege
      preclude any further exercise of the same or the exercise of any other
      right, power or privilege. The rights and remedies herein and in the
      security documents are cumulative and not exclusive of any rights and
      remedies provided by the law. q) I/We also agree that the Bank shall also
      be entitled to transfer loan account to any of the branches of the Bank
      after giving due notice to me/us. r) I/We declare and undertake that I/We
      have not paid/shall not pay any commission to any person/s for furnishing
      guarantees, counter guarantees or indemnities or for undertaking any other
      liability with respect to the aforesaid credit facility. s) I/We shall
      abide by the terms and conditions of the sanction of the loan to me/us as
      mentioned in the arrangement letter/sanction letter which forms part of
      this agreement and also to the rules for such loans which are now in force
      and also those which may be altered, revised, amended, added from time to
      time by the Bank/the Reserve Bank of India/Central Government/State
      Government. • The undertakings, authority and agreements herein contained
      shall be irrevocable so long as I/we continue to be liable to the Bank in
      the said loan account. • I/We hereby further agree that as precondition of
      the loan/ advance given to me/us by the Bank, that in case of default in
      repayment of the loan/advances or in the repayment of the interest thereon
      or any of the agreed instalment of the loan on due date/s, the Bank and/or
      the Reserve Bank of India will have an unqualified right to disclose or
      publish my/our name(s), details and photograph(s) as defaulter in such
      manner and through such medium as the Bank or Reserve Bank of India in
      their absolute discretion may think fit. • I/We further agree that the
      Bank is at liberty to disclose/share my/our Credit information to/with
      Information Company formed under the Credit Information Company
      (Regulation), 2005, as to the loans granted to me/us and the nature of the
      securities given by me/ us, the guarantees furnished to secure the said
      loans whether fund based or non-fund based, my/our creditworthiness and
      any other manner which the RBI may consider necessary for inclusion in the
      Credit Information to be collected and maintained by Credit Information
      Companies and the Bank is not liable in any manner to me/us for providing
      the information as aforesaid to the Information Company. • In the event of
      my/we failing to repay any or more installment(s) at any point of time,
      the Bank may send written reminder or make tele-call/SMS or depute an
      official to meet me/us personally, all the incidental charges appurtenanat
      thereto such as postage, telephone/SMS charges, transportation charges, on
      actual, would be recovered from me/us. • I/We agree that the Bank has
      absolute right to assign this agreement in favour of any person including
      securitisation company or reconstruction company under the SARFAESI Act
      and on such assignment, I/We will be liable to such assignee as if
      assignee is the Bank/lender and assignee will have all rights against
      me/us and as well as overall properties either given as security or
      otherwise to recover all debts/liabilities payable by me/us under this
      agreement. • Notwithstanding anything contained hereinabove, I/We confirm
      having agreed that the Bank reserves the absolute right to cancel the
      limits (either fully or partially) unconditionally without prior notice
      (a) in case the limits/part of the limits are not utilized by us, and/or
      (b) in case of deterioration in the loan accounts in any manner
      whatsoever, and/or (c) in case of non-compliance of terms and conditions
      of sanction. • I/We declare that I have understood all the terms and
      conditions for the sanction of this loan and agree to abide by the same
      and also by the rules and regulations which may be issued by the Bank in
      future from time to time and in the event of my/our failing to do so, the
      Bank will have a right to recall the advance without prejudice to the
      Bank’s right to take such appropriate action as the Bank may deem it fit
      and proper.
    </p>

  </body>

</html>