
mat-expansion-panel {
    margin-top: 15px;
}

.sql {
    font-family: 'Courier New', Courier, monospace; 
    color: #666666; 
    background-color: lightgrey; 
    padding: 8px; 
    border-radius: 4px;
    margin-top: 5px;
}
