div.row-widget > button:first-child {
    border-radius: 25px;
}

[class = "st-emotion-cache-1e9n592"] {
    border-radius: 25px !important;
}

.box-default {
    border: 0.5px solid #6a90e2;
    padding: 10px;
    margin: 10px;
    height: 280px;
    border-radius: 25px;
}

.box-clicked {
    border: 2px solid #3367D6;
    padding: 10px;
    margin: 10px;
    height: 280px;
    border-radius: 25px;
}
