<div class="chat-footer">
  <div class="chat-textarea">
    <mat-chip-grid class="intent-chip-textarea intent-chip"
      style="width: 100%;" #chipGrid aria-label="Enter intent">
      <input [matChipInputFor]="chipGrid"
        placeholder="Ask your question here"
        [(ngModel)]="term" (keydown.enter)="searchTerm()" />
    </mat-chip-grid>
  </div>
  <div class="micIcon">
    <button mat-icon-button (click)="startRecording()" matTooltip="Record"
      *ngIf="!isRecording"><mat-icon>mic_none</mat-icon>
    </button>
    <span class="recording-container" *ngIf="isRecording">
      <span class="blue-dot">&nbsp;</span>
      <span class="green-dot">&nbsp;</span>
      <span class="yellow-dot">&nbsp;</span>
      <button (click)="stopRecording()" style="color: red;" class="reset-button initial" mat-icon-button
        matTooltip="Stop Recording" aria-label="record button">
        <mat-icon class="material-icons-outlined">stop_circle</mat-icon>
      </button>
    </span>
    <button mat-icon-button (click)="searchTerm()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
