# Project Configuration
BUCKET = ""
PROMPT_PREFIX = "prompts"
PROJECT_ID = ""
LOCATION = ""

START_PROMPT_PATH = "src/initial_local_prompt_empty.json"

## Constants for Eval
JITTER_AMOUNT = 0.1
PLOTLY_RENDERER = "colab"
DEFAULT_HUMAN_RATING_COL = "human_rating"
DEFAULT_SCORE_COL = "score"
EXPERIMENT_NAME = "eval-open-judge-test"

## Constants for Optimize
OPTIMIZATION_MODE = "instruction"
EVAL_METRIC = "exact_match"
NUM_INST_OPTIMIZATION_STEPS = 10
TARGET_MODEL_QPS = 3.0
EVAL_QPS = 3.0
RESPONSE_MIME_TYPE = "text/plain"
TARGET_LANGUAGE = "English"
SERVICE_ACCOUNT = ""
APD_CONTAINER_URI = "us-docker.pkg.dev/vertex-ai-restricted/builtin-algorithm/apd:preview_v1_0"
