{{#> layout title="Mutual Funds"}}
        <h2 class="savingh2">Mutual Funds
        </h2 class="savingh2">
        <section>
            <h3 class="savingh3">Mutual Funds: Diversifying Your Investment Portfolio</h3>

            <h4 class="savingh4">What are Mutual Funds?</h4>

            <p class="savingp">
                Mutual Funds, with their professional management through the expertise of their fund managers, are one
                of
                the best- option to meet your long term investment goals.
                In addition, it also brings the advantages of diversification, liquidity, convenience and tax
                efficiency.
                Mutual funds are however, subject to market risks and respective scheme documents should be referred
                before
                making investments.

            </p>
            <h4 class="savingh4">Understanding Mutual Funds: A Collective Investment Approach
            </h4>
            <p class="savingp">
                Mutual funds are professionally managed investment vehicles that pool together money from numerous
                investors
                to purchase a collection of securities, such as stocks, bonds, or other assets. This collective
                investment
                approach offers several benefits, including:
            </p>
            <ul class="savingul">
                <li>Professional Management: Mutual funds are managed by experienced fund managers who possess expertise
                    in
                    analyzing and selecting securities, aiming to achieve optimal returns for investors.</li>
                <li>Diversification: By investing in a mutual fund, you gain exposure to a diversified portfolio of
                    securities, reducing the risk associated with investing in individual stocks or bonds.</li>
                <li>Affordability: Mutual funds allow you to invest in a diversified portfolio with a relatively small
                    initial investment, making them accessible to a wide range of investors.</li>
            </ul>
            <h4 class="savingh4">Types of Mutual Funds: Matching Your Investment Goals
            </h4>
            <p class="savingp">
                Mutual funds can be categorized based on their investment objectives, risk profiles, and the types of
                securities they invest in. Some common types of mutual funds include:
            </p>
            <ul class="savingul">
                <li>Equity Funds: These funds invest primarily in stocks, aiming for capital appreciation over the long
                    term. They may focus on specific sectors or invest in a broad range of companies.</li>
                <li>Debt Funds: These funds invest in fixed-income securities like bonds, offering relatively stable
                    returns
                    and lower risk compared to equity funds.</li>
                <li>Hybrid Funds: These funds combine investments in both equities and debt instruments, offering a
                    balance
                    between potential growth and stability.</li>
            </ul>
            <h4 class="savingh4">Investing in Mutual Funds: A Simplified Process

            </h4>
            <p class="savingp">
                Mutual funds can be categorized based on their investment objectives, risk profiles, and the types of
                securities they invest in. Some common types of mutual funds include:
            </p>

            <ul class="savingol">
                <li> Equity Funds: These funds invest primarily in stocks, aiming for capital appreciation over the long
                    term. They may focus on specific sectors or invest in a broad range of companies.
                </li>
                <li>Debt Funds: These funds invest in fixed-income securities like bonds, offering relatively stable
                    returns
                    and lower risk compared to equity funds.
                </li>
                <li>Hybrid Funds: These funds combine investments in both equities and debt instruments, offering a
                    balance
                    between potential growth and stability.
                </li>
            </ul>
            <h4 class="savingh4">Unveiling the Benefits of Mutual Funds
            </h4>
            <p class="savingp">
                Investing in mutual funds offers several advantages, including:
            </p>

            <ul class="savingol">
                <li> Diversification: Diversification helps mitigate risk by spreading your investment across a variety
                    of
                    securities, reducing the impact of fluctuations in individual stocks or bonds.
                </li>
                <li>Professional Management: Experienced fund managers actively manage your investments, conducting
                    thorough
                    research and analysis to make informed investment decisions.
                </li>
                <li>Liquidity: Mutual funds offer relatively high liquidity, allowing you to redeem your investments
                    easily
                    when needed.
                </li>
                <li>Transparency: Mutual funds are regulated and provide regular disclosures, ensuring transparency in
                    their
                    investment strategies and performance.
                </li>
            </ul>
            <h4 class="savingh4">Embark on Your Mutual Fund Journey with Cymbal Bank

            </h4>
            <p class="savingp">
                At Cymbal Bank, we are dedicated to helping you make informed investment decisions and achieve your
                financial aspirations. Our team of financial experts can assist you in selecting mutual funds that align
                with your unique investment goals and risk tolerance.
                Contact us today to explore our comprehensive range of mutual fund options and embark on a rewarding
                investment journey with Cymbal Bank.
            </p>



        </section>
        <br>
        <button class="btn btn--show-modal" onclick="redirectToCalculator()">
            Calculate Mutual Fund Returns
        </button>
        <br><br>
        <h2 class="savingh3">List of Top Performing Mutual Funds
        </h2 class="savingh3">
         <table id="csvTable">
            <thead id="tableHeaders">
                <!-- Headers will be populated here -->
            <tr><th>Name</th><th>Risk Category</th><th>Type Of Fund</th><th>Size</th><th>One Month</th><th>Six Month</th><th>One Year</th><th>Three Year</th><th>Five Year</th><th>All Time</th><th>NAV</th><th>Min SIP Amount</th><th>Fund Size</th><th>Expense Ratio</th><th>Exit Load</th><th>Stamp Duty</th></tr></thead>
            <tbody id="csvData">
                <!-- Data will be populated here -->
            <tr><td>Quant Small Cap Fund Direct Plan Growth</td><td>Very High Risk</td><td>Equity</td><td>Small Cap</td><td>2.11</td><td>30.64</td><td>40.43</td><td>47.15</td><td>31.04</td><td>17.72</td><td>197.65</td><td>1000</td><td>9089</td><td>0.77</td><td>1% if redeemed within 1 year</td><td>0.005</td></tr><tr><td>ICICI Prudential Commodities Fund Direct Growth</td><td>High Risk</td><td>Equity</td><td>Sectoral/Thematic</td><td>-0.86</td><td>17.48</td><td>29.46</td><td>45.59</td><td></td><td>35.11</td><td>33.27</td><td>100</td><td>1325</td><td>1.03</td><td>1% if redeemed within 3 months</td><td>0.005</td></tr><tr><td>Parag Parikh Flexi Cap Fund Direct Growth</td><td>Very High Risk</td><td>Equity</td><td>Flexi Cap</td><td>0.77</td><td>17.18</td><td>26.2</td><td>23.84</td><td>21.64</td><td>19.53</td><td>63.69</td><td>1000</td><td>42784</td><td>0.66</td><td>For units above 10% of the investment exit load of 2% if redeemed within 365 days and 1% if redeemed after 365 days but on or before 730 days.</td><td>0.005</td></tr><tr><td>Nippon India Small Cap Fund Direct Growth</td><td>Very High Risk</td><td>Equity</td><td>Small Cap</td><td>1.87</td><td>33.62</td><td>37.1</td><td>45.8</td><td>27.32</td><td>26.37</td><td>137.37</td><td>100</td><td>37374</td><td>0.71</td><td>1% if redeemed within one month.</td><td>0.005</td></tr><tr><td>SBI Bluechip Direct Plan Growth</td><td>Very High Risk</td><td>Equity</td><td>Large Cap</td><td>-0.36</td><td>14.05</td><td>19.71</td><td>22.64</td><td>16.3</td><td>15.43</td><td>79.04</td><td>500</td><td>39650</td><td>0.87</td><td>1% if redeemed within 1 year</td><td>0.005</td></tr><tr><td>HDFC Short Term Debt Fund</td><td>Moderate Risk</td><td>Debt</td><td></td><td>0.55</td><td>3.16</td><td>7.3</td><td>5.2</td><td>7.4</td><td>8.0</td><td>28.91</td><td>100</td><td>12285</td><td>0.37</td><td>Nil</td><td>0.005</td></tr><tr><td>SBI Short Term Debt Fund Direct Growth</td><td>Moderate Risk</td><td>Debt</td><td></td><td>0.5</td><td>2.92</td><td>6.97</td><td>4.76</td><td>6.96</td><td>7.74</td><td>29.9</td><td>500</td><td>13478</td><td>0.35</td><td>Nil</td><td>0.005</td></tr><tr><td>Nippon India Strategic Debt Fund Direct Growth</td><td>Moderate Risk</td><td>Debt</td><td></td><td>0.52</td><td>2.41</td><td>7.22</td><td>9.26</td><td>-0.47</td><td>4.07</td><td>14.6</td><td>100</td><td>120</td><td>1.44</td><td>1% if redeemede within 12 months</td><td>0.005</td></tr><tr><td>Axis Corporate Debt Fund Direct Growth</td><td>Moderate Risk</td><td>Debt</td><td></td><td>0.53</td><td>2.99</td><td>7.19</td><td>5.31</td><td>7.09</td><td>7.31</td><td>15.73</td><td>100</td><td>4827</td><td>0.29</td><td>Nil</td><td>0.005</td></tr><tr><td>Kotak Emerging Equity Fund Direct Growth</td><td>Very High Risk</td><td>Equity</td><td>Mid Cap</td><td>5.04</td><td>20.63</td><td>26.15</td><td>27.84</td><td>23.74</td><td>20.8</td><td>111.72</td><td>100</td><td>36527</td><td>0.38</td><td>For units in excess of 10% of the investment 1% will be charged for redemption within 365 days</td><td>0.005</td></tr></tbody>
        </table>
    </div>

    <br><br><br>
{{/ layout}}