{{#> layout title="Recharge"}}
    <div class="custom-body">
        <h2 class="savingh2">Recharge
        </h2 class="savingh2">
        <section>
            <h3 class="savingh3">Your One-Stop Destination for Mobile, Broadband, and DTH Recharges</h3>
            <p class="savingp">
                In today's interconnected world, staying connected is essential for both personal and professional
                endeavors. Cymbal Bank understands this need and offers a comprehensive range of mobile, broadband, and
                DTH recharge solutions, ensuring that you never miss a beat.
            </p>

            <!-- Mobile Recharge -->
            <article>
                <h4 class="savingh4">Convenient Mobile Recharge Options</h4>
                <p class="savingp">
                    Cymbal Bank provides a seamless mobile recharge experience, catering to both prepaid and postpaid
                    mobile connections.
                </p>
                <h5 class="savingh5">Prepaid Mobile Recharge:</h5>
                <ol class="savingol">
                    <li>Select Your Operator: Choose your mobile service provider from a wide network of operators.</li>
                    <li>Enter Mobile Number: Enter your mobile number and select the recharge plan or enter the desired
                        recharge amount.</li>
                    <li>Make the Payment: Confirm the details and proceed to make the payment using your preferred
                        Cymbal Bank account.</li>
                </ol>
                <h5 class="savingh5">Postpaid Mobile Bill Payment:</h5>
                <ol class="savingol">
                    <li>Select Your Operator: Choose your mobile service provider from a wide network of operators.</li>
                    <li>Enter Mobile Number: Enter your mobile number and the amount due for your postpaid bill.</li>
                    <li>Make the Payment: Confirm the details and proceed to make the payment using your preferred
                        Cymbal Bank account.</li>
                </ol>
            </article>

            <!-- Broadband Recharge -->
            <article>
                <h4 class="savingh4">Stay Connected with Broadband Recharge</h4>
                <p class="savingp">
                    Cymbal Bank simplifies broadband bill payments, ensuring that you enjoy uninterrupted internet
                    access.
                </p>
                <ol class="savingol">
                    <li>Select Your Broadband Provider: Choose your broadband service provider from a wide network of
                        providers.</li>
                    <li>Enter Customer ID or Account Number: Enter your customer ID or account number associated with
                        your broadband connection.</li>
                    <li>Select the Recharge Plan or Enter the Recharge Amount: Choose the desired recharge plan or enter
                        the specific recharge amount.</li>
                    <li>Make the Payment: Confirm the details and proceed to make the payment using your preferred
                        Cymbal Bank account.</li>
                </ol>
            </article>

            <!-- DTH Recharge -->
            <article>
                <h4 class="savingh4">Enjoy Uninterrupted Entertainment with DTH Recharge</h4>
                <p class="savingp">
                    Cymbal Bank makes it easy to recharge your DTH connection, keeping you entertained with your
                    favorite channels and shows.
                </p>
                <ol class="savingol">
                    <li>Select Your DTH Provider: Choose your DTH service provider from a wide network of providers.
                    </li>
                    <li>Enter Customer ID or Subscriber ID: Enter your customer ID or subscriber ID associated with your
                        DTH connection.</li>
                    <li>Select the Recharge Plan or Enter the Recharge Amount: Choose the desired recharge plan or enter
                        the specific recharge amount.</li>
                    <li>Make the Payment: Confirm the details and proceed to make the payment using your preferred
                        Cymbal Bank account.</li>
                </ol>
            </article>

            <article>
                <h4 class="savingh4">Additional Benefits of Cymbal Bank's Recharge Solutions</h4>
                <p class="savingp">
                    Apart from the ease of recharge, Cymbal Bank offers additional benefits for mobile, broadband, and
                    DTH recharges:
                </p>
                <ul class="savingul">
                    <li>Quick Recharge Process: Recharge your mobile, broadband, or DTH connection in a matter of
                        minutes.</li>
                    <li>Real-time Recharge Confirmation: Receive instant confirmation upon successful completion of your
                        recharge.</li>
                    <li>View Recharge History: Access your past recharge history for easy recordkeeping.</li>
                    <li>Schedule Recharges: Set up recurring recharges to avoid missing due dates.</li>
                </ul>
            </article>

            <p class="savingp">
                Embrace a Seamless Recharge Experience with Cymbal Bank. Cymbal Bank is committed to simplifying your
                mobile, broadband, and DTH recharges,
                ensuring that you can stay connected and entertained without any hassle. Sign up for Cymbal Bank's
                NetBanking or download the mobile banking app today
                and experience the convenience of managing your recharges effortlessly.
            </p>
        </section>
    </div>
    <br><br><br>
{{/ layout}}