{{#> layout title="Salary"}}
    <div class="custom-body">
        <h2 class="savingh2">Salary Account</h2 class="savingh2">
        <div class="container-side-by-side">
            <div class="benefits-side-by-side">
                <h3 class="savingh3">To open a Salary Account with Cymbal Bank, follow these steps:</h3
                    class="savingh3">
                <ol class="savingol">
                    <li>Visit the Cymbal Bank website and select the online Salary Account opening option.</li>
                    <li>Provide your Permanent Account Number (PAN), mobile number, employer details, address, and KYC
                        details.
                    </li>
                    <li>Ensure your Aadhaar is linked to your mobile number to complete Aadhaar-based KYC.</li>
                </ol>

                <h3 class="savingh3">Benefits of Opening a Salary Account</h3>
                <ul class="savingul">
                    <li>No minimum balance requirement</li>
                    <li>Direct salary credit</li>
                    <li>Debit and credit card facilities</li>
                    <li>Chequebooks</li>
                    <li>Internet banking</li>
                    <li>Preferential loan terms</li>
                </ul>
                <h3 class="savingh3">Interest Rate on Salary Account Balances</h3 class="savingh3">
                <p class="savingp">Cymbal Bank Salary Account holders can earn interest rates from 3.0% to 3.5% per
                    annum on
                    their balances.</p class="savingp">
            </div>

            <div class="card salary-account">
                <img class="card-img" src="assets/image (6).png" alt="">
                <h2 class="savingh2">Salary A/C</h2>
                <ul class="savingul">
                    <li>No minimum balance requirement</li>
                    <li>Same day credit of salary</li>
                    <li>Pre-approved overdraft of up to 25% of salary</li>
                    <li>Free credit card and debit card for you and spouse with special deals on shopping and travel
                    </li>
                    <li>Special rates on loans</li>
                </ul>
            </div>
        </div>
        <h3 class="savingh3">Transferring Your Account to Another Cymbal Bank Branch</h3 class="savingh3">
        <ol class="savingol">
            <li>Fill out and sign the Account Transfer Form.</li>
            <li>Submit the form to the branch where you would like to transfer your account.</li>
            <li>Your account number will remain the same, and you can continue using your existing debit and credit
                cards and chequebooks.</li>
        </ol>

        <h3 class="savingh3">Maintaining a Minimum Balance</h3 class="savingh3">
        <p class="savingp">Cymbal Bank Salary Accounts are zero-balance accounts, meaning you are not required to
            maintain a minimum balance. The bank will not charge a penalty for not keeping a minimum balance in your
            Salary Account.</p class="savingp">

        <h3 class="savingh3">Using Your Salary Account for Other Purposes</h3 class="savingh3">
        <p class="savingp">You can use your Salary Account for various purposes, including:</p class="savingp">
        <ul class="savingul">
            <li>Fund transfers</li>
            <li>Opening Fixed Deposits</li>
            <li>Getting loans</li>
            <li>Opening Demat accounts</li>
            <li>Financing Mutual Fund SIPs</li>
        </ul>
    </div>

    <br><br><br>
{{/ layout}}