<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saving's Terms and Condition</title>
  </head>

  <body>
    <table
      border="1"
      cellpadding="4"
      cellspacing="0"
      style="width:100%"
      class="cke_show_border"
    >
      <h1 style="text-align: center;">Terms and conditions</h1>
      <tbody>
        <tr>
          <td valign="top" width="5">1.1</td>
          <td valign="top">Reversal of Salary Credits: I hereby irrevocably and
            unconditionally authorise the Bank to on the request of my
            employer/company recover by marking hold funds/debiting/reversal of
            credit, any excess amount credited by and/or on the instructions of
            the employer/company into my account, with notice to me. The Bank
            will not be held responsible and liable for any such hold
            funds/debit/reversal of credit carried out by the Bank.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.2</td>
          <td valign="top">I acknowledge that my account has been opened with
            the Bank by virtue of my employment with the employer/company and is
            designated as "Salary Account". I understand that pursuant to the
            arrangement between the employer/company and the Bank, at the sole
            discretion of the Bank I may be entitled to certain facilities on
            the Salary Account only during the currency of my employment with
            the employer/company or till the subsistence of the arrangement
            between the employer/company and the Bank. I shall notify the Bank
            on cessation of services with the employer/company. The words "the
            employer/company" refers to the corporate in which I am employed and
            on whose request the Salary Account is opened with the Bank.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.3</td>
          <td valign="top">I understand and acknowledge that the special
            facilities offered on Salary Account are basis agreement of regular
            salary credit between the employer/company and the Bank.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.4</td>
          <td valign="top">I understand and acknowledge that the name of the
            account holder is not tallied with the account number before
            crediting salary in the respective accounts as provided by my
            employer/company.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.5</td>
          <td valign="top">I understand and acknowledge that the responsibility
            of providing the correct account number for crediting of salaries
            will lie solely with my employer/company and i shall not hold the
            bank responsible for any wrong credit arising out of such incorrect
            account number provided by my employer/company.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.6</td>
          <td valign="top">I hereby agree that in the event of no salary credits
            in my Salary Account for any continuous three months, the Bank
            reserves the right to change the status of Salary Account to Savings
            Regular Account without any intimation to the account holder/me and
            the Terms &amp; Conditions as applicable to the Cymbal Bank Savings
            Regular Account shall apply to this account from the date of change
            of status. The Terms &amp; Conditions and features applicable to
            Savings Regular Account are published on the website of the Bank.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.7</td>
          <td valign="top">I hereby agree that the Bank may at its sole and
            absolute discretion close the Salary Account if noticed that no
            amounts are credited by and/or on the instructions of the
            employer/company to the Salary Account regularly or in the event of
            my ceasing to be in the services of the employer/company for any
            reason whatsoever after giving me a notice of 30 days.</td>
        </tr>
        <tr>
          <td valign="top" width="5">1.8</td>
          <td valign="top">I agree that any modification to the mode of
            operation in my account can be effected by the Bank with the consent
            of all joint holders to my account. I acknowledge that the Bank will
            not be entertaining any request for modification received without
            consent of all joint holders to my account. I further agree and
            acknowledge that till such time the Bank shall continue to honor the
            instructions in accordance with the mode of operation agreed at the
            time of opening the account.
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">2</td>
          <td valign="top">Additional benefit for Salary Account Customer -
            Personal Accidental Death Cover (PADC) on Salary Account</td>
        </tr>
        <tr>
          <td valign="top" width="5">2.1</td>
          <td valign="top">The following are the broad Terms &amp; Conditions of
            the captioned cover on salary account and Titanium Royale Debit card<ul
            >
              <li>Accidental Death resulting from bodily injury due accident
                only</li>
              <li>Accidental Death resulting from bodily injury which directly
                and independently of all other causes results in Death within
                twelve (12) months of the event date</li>
              <li>On the event date, the account holder<ul>
                  <li>Is a bonafide employees (aged less than 70 years ) of the
                    organization to whom the specific offer has been extended</li>
                  <li>Is holding a Salary Account under the Corporate Salary
                    Account Program with Cymbal Bank and has received salary
                    credit in the month or month prior</li>
                  <li>Should have carried out at least one purchase transaction
                    using the Debit Card, within 6 months prior to the date of
                    loss.</li>
                  <li>In case of Air Accidental Death claim ticket should have
                    been purchased using Debit Card linked to Salary Account</li>
                </ul>
              </li>
              <li>Cover provided only to the primary account holder</li>
            </ul><br />The following are the broad Terms &amp; Conditions of the
            captioned cover in case of Salary Family Account<ul>
              <li>Accidental Death resulting from bodily injury due accident
                only</li>
              <li>Accidental Death resulting from bodily injury which directly
                and independently of all other causes results in Death within
                twelve (12) months of the event date</li>
              <li>On the event date, the account holder<ul>
                  <li>Is aged less than 70 years</li>
                  <li>Is holding a Salary Family Account by virtue of his/her
                    relationship with the salary account holder and such salary
                    account is a zero balance account and has received salary
                    credit in the month or month prior</li>
                  <li>Should have carried out at least one purchase transaction
                    using the debit card, within 6 months prior to the date of
                    loss</li>
                  <li>In case of Air Accidental Death claim ticket should have
                    been purchased using Debit Card linked to Salary Family
                    Account</li>
                </ul>
              </li>
              <li>Cover provided only to the primary account holder</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">2.2</td>
          <td valign="top">Claim Procedure:<ul>
              <li>In the event of death of the account holder, the beneficiary
                to approach the account branch, and the branch would guide the
                customer on the documents required.</li>
              <li>On the receipt of these documents by the branch, as special
                gesture for our salary account holders, Cymbal bank would liaise
                with the insurance company for processing the claim. However,
                receipt of the documents by the branch does not construe
                acceptance of claim. In the event of death, the beneficiary has
                to inform the account branch immediately. As per policy the
                insurance company needs to be informed (through the bank) within
                30 days of accident and all supporting documents relating to the
                claim needs to be submitted to the insurance company within
                sixty (60) days from the date of loss.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">2.3</td>
          <td valign="top">Disclaimer :<ul>
              <li>The account holder specifically acknowledges that the Bank
                will not be liable in any manner whatsoever by virtue of any
                insurance cover provided, and that the insurance company will be
                solely liable, in case of a death of a Cardholder and shall not
                hold the Bank responsible for any matter arising out of or in
                connection with such insurance cover, whether for or in respect
                of any deficiency or defect in such insurance cover, recovery or
                payment of compensation, processing or settlement of claims or
                otherwise howsoever, and all such matters shall be addressed to
                and sorted out directly with the Insurance company.</li>
              <li>The account holder further acknowledges that the insurance
                cover so provided will be available to the salary accounts only
                as per the terms of the relevant insurance policy in force, with
                his account maintained in good standing. On the account being
                closed or converted to savings regular account temporarily or
                permanently for whatever reason, the benefit of such insurance
                cover shall automatically and ipso facto cease to be available
                from such date of cesser of account. Further the account holder
                also agrees that even during continuation of his account, the
                Bank may at any time suspend, withdraw or cancel the benefit of
                such insurance cover, and there will no binding obligation on
                the Bank to continue this benefit.</li>
              <li>Insurance company can be subject to change and insurance cover
                is subject to the terms and conditions of the policy in force</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">3</td>
          <td valign="top"><strong>Kid's Advantage Account</strong></td>
        </tr>
        <tr>
          <td valign="top" width="5">3.1</td>
          <td valign="top">An account may be opened on behalf of a Minor by
            his/her natural guardian or by a guardian appointed by a court of
            competent jurisdiction. The guardian shall represent the Minor in
            all transactions of any 1 description in the above account until the
            said Minor attains majority. Upon the Minor attaining majority, the
            right of the guardian to operate the account shall cease.
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">3.2</td>
          <td valign="top">The guardian agrees that the Minor's account will not
            be entitled to any overdraft or any borrowing facility whatsoever.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.3</td>
          <td valign="top">If for any reason there is inadequate balance or the
            Minor's account is overdrawn, the Bank shall be entitled to dishonor
            any cheques drawn on the said account without being liable for any
            consequences arising there from.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.4</td>
          <td valign="top">The guardian agrees that on issue of ATM/Debit Card
            all the Terms and Conditions as applicable to ATM/Debit Card and its
            usage mentioned herein shall apply.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.5</td>
          <td valign="top">The guardian agrees and acknowledges that the
            withdrawal by the Minor, including through use of ATM/Debit Card,
            attach no liability to the Minor personally on account of Minority.
            Accordingly, the whole of such liability is assumed by the guardian
            and shall be discharged by the guardian alone. The guardian shall be
            fully bound by all debits to the Minor's account including through
            use of ATM/Debit Cards.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.6</td>
          <td valign="top">The guardian agrees that the Bank shall be entitled
            to debit any of his/her accounts to recover all charges, fees,
            interests, costs or any amounts overdrawn from the Minor's account.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.7</td>
          <td valign="top">In the event any special facility such as life
            insurance cover for the guardian is offered in the Minor's account,
            the provision of clause 15.59.1 &amp; 15.59.2 hereunder shall apply
            mutatis mutandis. The guardian agrees that the Bank may disclose in
            strict confidence to the insurance company any personal information
            for any purposes arising out of or in connection with such insurance
            cover.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.8</td>
          <td valign="top">The guardian agrees to indemnify the Bank against all
            actions, claims, demands, proceedings, damages, losses, costs,
            charges and expenses whatsoever which the Bank may at any time
            incur, sustain, suffer or be put to as a consequence of or arising
            out of opening and operation of the Minor’s account including
            withdrawals/transactions through use of ATM/Debit Card and further
            against all and any claims of the Minor for any
            withdrawal/transactions made by the guardian in the Minor's account.</td>
        </tr>
        <tr>
          <td valign="top" width="5">3.9</td>
          <td valign="top">Disclaimer<br />All supporting documents relating to
            claim must be submitted to the company within sixty (60) days from
            the date of loss and the claim should be within thirty (30) days
            from the date of Loss.</td>
        </tr>
        <tr>
          <td valign="top" width="5">4</td>
          <td valign="top"><strong>"Basic Savings Bank Deposit Account:"</strong></td>
        </tr>
        <tr>
          <td valign="top" width="5">4.1</td>
          <td valign="top">I understand that, as per regulatory guidelines,
            holders of Basic Savings Bank Deposit Account are not eligible to
            open any other
            <a
              title="/personal/save/accounts/savings-accounts"
              href="/personal/save/accounts/savings-accounts"
            >Savings Account</a>
            in Cymbal Bank</td>
        </tr>
        <tr>
          <td valign="top">4.2</td>
          <td valign="top">Thus, I agree that if I have any other existing
            savings account(s) with Cymbal Bank, then I am required to close
            such other savings account(s) within 30 days of opening the Basic
            Savings Bank Deposit Account</td>
        </tr>
        <tr>
          <td valign="top">4.3</td>
          <td valign="top">I accept that the Bank reserves the right to close
            the other savings account(s) (if any), as applicable under the
            regulatory guidelines, if such account(s) is/are not closed by me
            within 30 days of opening the Basic Savings Bank Deposit Account</td>
        </tr>
        <tr>
          <td valign="top">4.4</td>
          <td valign="top">Any resident individual and do not have complete KYC
            is eligible to open a BSBDA Small Account. To be more specific, a
            residential individual who does not have:&nbsp;<ul>
              <li>Photo ID proof as per the bank’s acceptable list of documents.</li>
              <li>Address proof as per the bank’s acceptable list of documents.</li>
            </ul>Listed below are the criteria required to operate a BSBDA Small
            Account :</td>
        </tr>
        <tr>
          <td valign="top">4.5</td>
          <td valign="top">As a BSBDA Small Account holder I would be subject to
            the following transactional limits:<ul>
              <li>The total balance in the BSDBA Small account should not exceed
                Rs. 50,000 at any point of time&nbsp;<br /><strong
                >OR</strong></li>
              <li>The total credits in the BSDBA Small account should not exceed
                Rs. 1,00,000 at any point of time&nbsp;<br /><strong
                >OR</strong></li>
              <li>The total withdrawals and transfers in the BSDBA Small account
                should not exceed Rs. 10,000 in a month</li>
            </ul>If the balance in the account exceeds Rs. 50,000, no further
            credit transactions will be permitted the Small account till such
            time the balance goes below Rs. 50,000<br /><br />If the aggregate
            of credits in a financial year exceeds Rs. 1,00,000 no further
            credit transactions will be permitted in the Small account till the
            end of that financial year<br /><br />If the withdrawals and
            transfers exceeds Rs. 10,000 no further debit transactions will be
            permitted in the Small account till the end of that calendar month</td>
        </tr>
        <tr>
          <td valign="top" width="5">4.6</td>
          <td valign="top">As a BSBDA Small Account holder I am required to
            submit to Cymbal Bank:<ul>
              <li>An evidence of having applied for valid KYC (as per the
                acceptable list of KYC specified for BSBDA Small Accounts)
                within 12 months of account opening</li>
              <li>The following documents will be treated as evidence for having
                applied for a valid KYC within 12 months of account
                opening:&nbsp;<br /><br />
                <table
                  border="0"
                  cellpadding="5"
                  cellspacing="1"
                  style="width:100%"
                  class="cke_show_border"
                >
                  <tbody>
                    <tr>
                      <th bgcolor="#ADD8E6" colspan="2">BSBDA Small Account –
                        Acceptable list of documents accepted towards proof of
                        having applied for valid KYC</th>
                    </tr>
                    <tr>
                      <th bgcolor="#ADD8E6" colspan="2">Documents to be
                        established for proof of identity</th>
                    </tr>
                    <tr>
                      <td><br /></td>
                      <td><br /></td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td><strong>KYC Document</strong></td>
                      <td><strong>Document to be accepted as evidence</strong></td>
                    </tr>
                    <tr>
                      <td>Passport [ not expired]</td>
                      <td>Copy of application form by Ministry of External
                        affairs - Govt.</td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>PAN card</td>
                      <td>Copy of Form 49A</td>
                    </tr>
                    <tr>
                      <td>Election/Voter’s card</td>
                      <td>Copy of Form 6</td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>Driving Licensce - Permenant (except</td>
                      <td>Copy of application form by RTO</td>
                    </tr>
                    <tr>
                      <td>Aadhaar card / letter issued by Government of India</td>
                      <td>Aadhaar Acknowledgement letter issued by UIDAI (Unique
                        Identiifcation Authority of India)</td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>NREGA card.</td>
                      <td>Copy of application form by NREGA</td>
                    </tr>
                    <tr>
                      <td><br /></td>
                      <td><br /></td>
                    </tr>
                    <tr>
                      <th bgcolor="#ADD8E6" colspan="2">Documents to be
                        established for proof of Address</th>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td><strong>KYC Document</strong></td>
                      <td><strong>Document to be accepted as evidence</strong></td>
                    </tr>
                    <tr>
                      <td>Passport [ not expired]</td>
                      <td>Copy of application form by Ministry of External
                        affairs - Govt. of India
                      </td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>Driving license - Permanent(except issued by the Govt
                        of Maharashtra).</td>
                      <td>Copy of application form by RTO</td>
                    </tr>
                    <tr>
                      <td>Ration card</td>
                      <td>Copy of application form / Acknowledgement slip</td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>Election card / Voters ID [if it has address].</td>
                      <td>Copy of Form 6</td>
                    </tr>
                    <tr>
                      <td>Aadhaar card / letter issued by Government of India.</td>
                      <td>Aadhaar Acknowledgement letter issued by UIDAI (Unique
                        Identiifcation Authority of India)</td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>NREGA card.</td>
                      <td>Copy of application form by NREGA</td>
                    </tr>
                    <tr>
                      <td>Senior citizens card issued by the State /Central
                        Govt. of India (if it has address).</td>
                      <td>Copy of application form / Acknowledgement slip issued
                        by the State /Central Govt. of India</td>
                    </tr>
                    <tr bgcolor="#F1F8FE">
                      <td>Domicile certificate with communication address issued
                        by Municipal Corporation.</td>
                      <td>Copy of application form / Acknowledgement slip issued
                        by Municipal Corporation</td>
                    </tr>
                  </tbody>
                </table>
              </li>
              <li>Actual KYC (ID proof, Address proof and Photograph) as per the
                Bank's acceptable list of KYC within 24 months of account
                opening</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top">4.7</td>
          <td valign="top">I understand that, holders of BSBDA – Small Account
            are not eligible to open any other CASA / TD / RD in Cymbal Bank
            till such time I am KYC complied</td>
        </tr>
        <tr>
          <td valign="top">4.8</td>
          <td valign="top">I accept that the Bank reserves the right to close
            the other current, savings, term deposit account(s) (if any), if
            such account(s) is/are not closed by me within 7 days of opening the
            BSBDA Small Account</td>
        </tr>
        <tr>
          <td valign="top" width="5">5</td>
          <td valign="top"><strong>"Senior Citizen" Account:</strong><br
            />Additional benefit for customers holding Senior Citizens Account.<br
            /><br />
            <table
              border="0"
              cellpadding="5"
              cellspacing="1"
              style="width:100%"
              class="cke_show_border"
            >
              <tbody>
                <tr bgcolor="#ADD8E6">
                  <td width="50%">Description</td>
                  <td width="50%">Sum Insured</td>
                </tr>
                <tr bgcolor="#ffffff">
                  <td>Accidental Hospitalisation Cover (Reimbursement Cover)</td>
                  <td>Rs.50,000/- p.a</td>
                </tr>
                <tr bgcolor="#F1F8FE">
                  <td>Accidental Hospital Cash (One claim per year)</td>
                  <td>Rs.500/- per day for a maximum of 15 days per year</td>
                </tr>
              </tbody>
            </table><br />Currently the policy is with Cymbal ERGO Insurance
            Company Limited.<br /><br />The following are the broad Terms &amp;
            Conditions of the captioned cover:
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">5.1</td>
          <td valign="top">Accidental Hospitalisation Cover:<ol type="a">
              <li>This cover is extended only to the first holder of the Senior
                Citizens Account.</li>
              <li>This is a Reimbursement cover valid only in India.</li>
              <li>If the cardholder is hospitalized for a minimum period of 24
                hrs on the advice of a doctor because of accidental bodily
                injury sustained during the policy period, than the insurance
                company will reimburse, reasonable and customary medical
                expenses incurred upto a maximum sum insured.</li>
              <li>This includes the reasonable charges incurred on the advice of
                a doctor as an inpatient in a hospital for accommodation,
                nursing care, the attention of medically qualified staff,
                undergoing medically necessary procedures and medical
                consumables.</li>
              <li>For the claim to be accepted &amp; processed, the cardholder
                should have carried out at least 1 purchase (point of sale)
                transaction at a merchant establishment using the Debit Card, in
                the previous 6 months before the accident. A purchase
                transaction performed before the date of hospitalization - in
                the same month (as the month of the accident) will also be
                valid.</li>
              <li>This cover is applicable for resident individuals only. It
                will not be applicable to Non-individual entities.</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">5.2</td>
          <td valign="top">Accidental Hospital Cash :<ol type="a">
              <li>It provides cash benefit for each completed day of
                hospitalisation, payable once a year @Rs.500 per day for a
                maximum of 15 days per year. 'Day' for this purpose shall be
                every completed (24 hours) of hospitalisation.</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">5.3</td>
          <td valign="top">Claim Procedure :<ol type="a">
              <li>In the event of accidental hospitalisation of the cardholder,
                the claimant / claimant's representative to approach the account
                branch, and the branch would guide the customer on the documents
                required. On the receipt of these documents by the branch, as
                special gesture for our debit card holders, Cymbal bank would
                liaise with the insurance company for processing the claim.
                However, receipt of the documents by the branch does not
                construe acceptance of claim. In the event of accidental
                hospitalisation, the claimant has to inform the account branch
                immediately. As per policy the insurance company needs to be
                informed ( through the bank) within 30 days of accident.</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">5.4</td>
          <td valign="top">Disclaimer :<ol type="a">
              <li>Insurance is the subject matter of solicitation and Cymbal
                Bank is not responsible for any compensation or processing of
                claims or for any reason whatsoever.</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">6</td>
          <td valign="top"><strong>"SavingsMax" Account:</strong><br
            />Additional benefit for customers holding SavingsMax Accounts:<br
            /><br />
            <table
              border="0"
              cellpadding="5"
              cellspacing="1"
              style="width:100%"
              class="cke_show_border"
            >
              <tbody>
                <tr bgcolor="#ADD8E6">
                  <td width="50%">Description</td>
                  <td width="50%">Sum Insured</td>
                </tr>
                <tr bgcolor="#ffffff">
                  <td>Accidental Hospitalisation Cover (Reimbursement Cover)</td>
                  <td>Rs. 1,00,000/- p.a</td>
                </tr>
                <tr bgcolor="#F1F8FE">
                  <td>Accidental Hospital Cash</td>
                  <td>Rs.1,000/- per day for a maximum of 15 days per year</td>
                </tr>
              </tbody>
            </table><br />Currently the policy is with Cymbal ERGO Insurance
            Company Limited.<br /><br />The following are the broad Terms &amp;
            Conditions of the captioned cover :
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">6.1</td>
          <td valign="top"><strong>Accidental Hospitalisation Cover</strong>
            <ul>
              <li>This cover is extended only to the first holder of the
                SavingsMax account.</li>
              <li>It would be applicable after the completion of the 1st
                calendar quarter, post the quarter of account opening.</li>
              <li>This is a Reimbursement cover valid only in India.</li>
              <li>If the first holder of the SavingsMax account is hospitalized
                for a minimum period of 24 hrs on the advice of a doctor because
                of accidental bodily injury sustained during the policy period,
                then the insurance company will reimburse, reasonable and
                customary medical expenses incurred upto a maximum sum of Rs.
                1,00,000/-.</li>
              <li>This includes the reasonable charges incurred on the advice of
                a doctor as an in-patient in a hospital for accommodation,
                nursing care, the attention of medically qualified staff,
                undergoing medically necessary procedures and medical
                consumables.</li>
              <li>For the claim to be accepted &amp; processed, the first holder
                of the SavingsMax account should have fulfilled the below 2
                conditions -<ul>
                  <li>Maintained an Average Quarterly Balance of Rs. 25,000
                    (irrespective of enjoying the benefit of a zero balance
                    account with a Fixed Deposit of minimum Rs. 1,00,000/-), in
                    the calendar quarter previous to the quarter of the date of
                    accident</li>
                  <li>Should have done at least 1 purchase - point of sale (POS)
                    transaction at a merchant establishment using the Debit Card
                    in the previous 3 months before the date of accident</li>
                </ul>
              </li>
              <li>Accidental hospitalisation reimbursement cover will be payable
                by the insurance company till the sum insured of Rs. 1,00,000/-
                is exhausted under one policy period of the bank with the
                insurance company, which is subject to renewal annually.</li>
              <li>The accident will be covered only if it requires
                hospitalisation of more than 24 hrs.</li>
              <li>This cover is applicable for resident individuals only. It
                will not be applicable to Non-Individual entities.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">6.2</td>
          <td valign="top"><strong>Accidental Hospitalisation Cash</strong>
            <ul>
              <li>It provides cash benefits for each completed day of
                hospitalisation &amp; can be claimed if the customer is
                hospitalized due to an accident for more than 24 hrs. This is
                meant to cover expenses for which bills cannot be produced</li>
              <li>It is limited to Rs. 1,000/- per day for a maximum of 15 days
                per year, per person. 'Day' for this purpose shall be every
                completed (24 hours) of hospitalisation.</li>
              <li>Accidental hospital cash will be payable by the insurance
                company till 15 days are exhausted under one policy period of
                the bank with the insurance company, only in the situation where
                claim under Accidental hospitalisation has been accepted.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">6.3</td>
          <td valign="top">All supporting documents relating to claim must be
            submitted to the company within sixty (60) days from the date of
            loss and the claim should be within thirty (30) days from the date
            of Loss.</td>
        </tr>
        <tr>
          <td valign="top" width="5">6.4</td>
          <td valign="top"><strong>Claim Procedure</strong>
            <ul>
              <li>In the event of Accidental hospitalisation of the first holder
                of the SavingsMax account, the claimant/claimant's
                representative to approach the account branch, and the branch
                would guide the customer on the documents required. On the
                receipt of these documents by the branch, as a special gesture
                for our SavingsMax account holders, Cymbal Bank would liaise
                with the insurance company for processing the claim. However
                receipt of documents by the branch does not construe acceptance
                of claim. In the event of Accidental hospitalisation, the
                claimant has to inform the account branch immediately. As per
                policy the insurance company needs to be informed (through the
                bank) within 30 days of the accident.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">6.5</td>
          <td valign="top"><strong>Disclaimer</strong>
            <ul>
              <li>Insurance is the subject matter of solicitation and Cymbal
                Bank is not responsible for any compensation or processing of
                claims or for any reason whatsoever</li>
              <li>Claims will be subject to the exclusions mentioned in the
                policy document</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top">6.6</td>
          <td valign="top"><strong>Accidental Death Cover of Rs.10 lac</strong></td>
        </tr>
        <tr>
          <td valign="top"><br /></td>
          <td valign="top">
            <ul>
              <li>The insurance cover is restricted to death by vehicular
                accidents (Rail/Road/Air)</li>
              <li>This cover is extended only to the first holder of the
                SavingsMax account</li>
              <li>For claim to be processed, primary account holder should have
                done atleast 1 purchase- Point of Sale transaction at a merchant
                establishment using the Debit Card in the previous 3 months
                before the date of death. A purchase transaction performed
                before the date of death in the same month will also be valid</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top">6.7</td>
          <td valign="top"><strong>Disclaimer</strong></td>
        </tr>
        <tr>
          <td valign="top"><br /></td>
          <td valign="top">
            <ul>
              <li>In the event of accidental death of the
                <a
                  title="/personal/save/accounts/savings-accounts"
                  href="/personal/save/accounts/savings-accounts"
                >Bank Account</a>
                holder, the claimant / claimant's representative to approach the
                account branch, and the branch would guide the customer on the
                documents required</li>
              <li>On the receipt of these documents by the branch, as special
                gesture, Cymbal bank would liaise with the insurance company for
                processing the claim</li>
              <li>However, receipt of the documents by the branch does not
                construe acceptance of claim</li>
              <li>In the event of accidental hospitalisation/death, the claimant
                has to inform the account branch immediately</li>
              <li>All supporting documents relating to claim must be submitted
                to the company within sixty (60) days from the date of loss and
                the claim should be within thirty (30) days from the date of
                Loss</li>
              <li>Claims will be subject to the exclusions mentioned in the
                policy document</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">7</td>
          <td valign="top"><strong>Women's Savings Account</strong><br
            />Additional benefit for customers holding Women's Savings
            Account&nbsp;<br /><br />
            <table
              border="0"
              cellpadding="5"
              cellspacing="1"
              style="width:100%"
              class="cke_show_border"
            >
              <tbody>
                <tr bgcolor="#ADD8E6">
                  <td width="50%">Description</td>
                  <td width="50%">Sum Insured</td>
                </tr>
                <tr bgcolor="#ffffff">
                  <td>Personal Accidental Death Cover</td>
                  <td>Rs 10,00,000/-</td>
                </tr>
                <tr bgcolor="#F1F8FE">
                  <td>Accidental Hospitalisation Cover (Reimbursement Cover)</td>
                  <td>Rs 1,00,000/- p.a</td>
                </tr>
                <tr bgcolor="#ffffff">
                  <td>Accidental Hospital Cash</td>
                  <td>Rs 1,000/- per day for a maximum of 10 days per year</td>
                </tr>
              </tbody>
            </table><br />Currently the policy is with Cymbal ERGO General
            Insurance.&nbsp;<br /><br />The following are the broad Terms &amp;
            Conditions of the captioned cover :
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">7.1</td>
          <td valign="top"><strong>Personal Accidental Death Cover</strong>
            <ul>
              <li>This cover is extended only to the first holder of the Women's
                Savings account</li>
              <li>For the claim to be accepted &amp; processed, the first holder
                of the Women's Savings account should have done at least 1
                purchase - point of sale (POS) transaction at a merchant
                establishment, using the Debit Card, in the previous 6 months
                before the date of accident. A purchase transaction performed
                before date of death in the same month will also be valid.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">7.2</td>
          <td valign="top"><strong>Accidental Hospitalisation Cover</strong>
            <ul>
              <li>This cover is extended only to the first holder of the Women's
                Savings account</li>
              <li>This is a reimbursement cover, valid only in India</li>
              <li>If the first holder of the Women's Savings account is
                hospitalized for a minimum period of 24 hours on the advice of a
                doctor because of accidental bodily injury sustained during the
                policy period, then the insurance company will reimburse,
                reasonable and customary medical expenses incurred upto a
                maximum sum of Rs. 1,00,000/-</li>
              <li>This includes the reasonable charges incurred on the advice of
                a doctor as an in-patient in a hospital for accommodation,
                nursing care, the attention of medically qualified staff,
                undergoing medically necessary procedures and medical
                consumables.</li>
              <li>For the claim to be accepted &amp; processed, the first holder
                of the Women's Savings account should have done at least 1
                purchase - point of sale (POS) transaction at a merchant
                establishment, using the Debit Card, in the previous 6 months
                before the date of accident. A purchase transaction performed
                before date of hospitalization in the same month as the month of
                accident will also be valid.</li>
              <li>Accidental hospitalization reimbursement cover will be payable
                by the insurance company till the sum insured of Rs. 1,00,000/-
                is exhausted under one policy period of the bank with the
                insurance company, which is subject to renewal annually</li>
              <li>The accident will be covered only if it requires
                hospitalization of more than 24 hours</li>
              <li>This cover is applicable for resident individuals only. It
                will not be applicable to Non-Individual entities.</li>
              <li>The age limit for the policy is 18 years - 70 years.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">7.3</td>
          <td valign="top"><strong>Accidental Hospital Cash</strong>
            <ul>
              <li>The policy provides cash benefits for each completed day of
                hospitalization &amp; can be claimed if the customer is
                hospitalised due to an accident for more than 24 hours. This is
                meant to cover expenses for which bills cannot be produced.</li>
              <li>It is limited to Rs. 1,000/- per day for a maximum of 10 days
                per year, per person. ‘Day’ for this purpose shall be every
                completed (24 hours) of hospitalization</li>
              <li>Accidental hospital cash will be payable by the insurance
                company till 10 days are exhausted under one policy period of
                the bank with the insurance company, only in the situation where
                claim under Accidental Hospitalization has been accepted</li>
              <li>The cash benefit will be payable maximum once a year only</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">7.4</td>
          <td valign="top"><strong>Claim Procedure&nbsp;</strong>
            <ul>
              <li>In the event of accidental hospitalisation / death of the
                account holder, the claimant / claimant's representative to
                approach the account branch, and the branch would guide the
                customer on the documents required</li>
              <li>On the receipt of these documents by the branch, as special
                gesture for our Women's Savings Account holders, Cymbal bank
                would liaise with the insurance company for processing the claim
              </li>
              <li>However, receipt of the documents by the branch does not
                construe acceptance of claim</li>
              <li>In the event of accidental hospitalisation/death, the claimant
                has to inform the account branch immediately</li>
              <li>As per policy the insurance company needs to be informed
                (through the bank) within 30 days of accident</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td valign="top" width="5">7.5</td>
          <td valign="top"><strong>Disclaimer&nbsp;</strong>
            <ul>
              <li>Insurance is the subject matter of solicitation and Cymbal
                Bank is not responsible for any compensation or processing of
                claims for any reason whatsoever</li>
              <li>Claims will be subject to the exclusions mentioned in the
                policy document</li>
              <li>Receipt of documents by the branch does not construe
                acceptance of claim</li>
            </ul>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </body>

</html>