#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Robotica", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #202124;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
