runtime: custom
env: flex

service_account: "{service_account}"

automatic_scaling:
    min_num_instances: 1
    max_num_instances: 2

network:
    name: "{network}"
    subnetwork_name: "{subnetwork}"
    session_affinity: true

env_variables:
    demo_gemini__agent_id: "gemini"
    demo_gemini__base_url: "{concierge_host}/gemini"
    demo_gemini__fetch_id_token: true

    demo_guardrail__agent_id: "guardrails"
    demo_guardrail__base_url: "{concierge_host}/gemini-with-guardrails"
    demo_guardrail__fetch_id_token: true

    demo_function_calling__agent_id: "function-calling"
    demo_function_calling__base_url: "{concierge_host}/function-calling"
    demo_function_calling__fetch_id_token: true

    demo_semantic_router__agent_id: "semantic-router"
    demo_semantic_router__base_url: "{concierge_host}/semantic-router"
    demo_semantic_router__fetch_id_token: true

    demo_task_planner__agent_id: "task-planner"
    demo_task_planner__base_url: "{concierge_host}/task-planner"
    demo_task_planner__fetch_id_token: true
