.financial-summary-container {
  color: white;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  padding: 18px;
}

.transcript-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  max-height: 600px;
  overflow-y: auto;
  margin-bottom: 400px;
}

.summary-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Changed from center to flex-start */
  padding: 0px;
  gap: 10px;
  width: 100%;
}

.summary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.summary-title {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.summary-icon {
  width: 16.5px;
  height: 16.5px;
  border: 2px solid #FFFFFF;
  border-radius: 300px;
}

.summary-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 100%;
}

.summary-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;
}

.summary-section-title {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.summary-section-value {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  /* font-size: 28px; 
  line-height: 34px; */
  color: #FFFFFF;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}
