.history-drawer {
  box-sizing: border-box;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000000;
  border-right: 1px solid #8B8B8B;
  border-radius: 12px;
  /* padding: 56px 25px; */
  padding: 24px;
  gap: 24px;
  z-index: 20;
  /* color: #FFFFFF;
  font-family: var(--font-sans);   */
}

.suggestion-prompt-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 8px 24px;
  /* gap: 317px; */
  width: 350px;
  height: 47px;
  background: #26292B;
  border-radius: 99px;
  margin-bottom: 24px;
}

.text-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  /* width: 314px; */
  height: 20px;
}

.text {
  /* width: 314px; */
  height: 20px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.65;
}

.history-items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 350px;
}

.history-item-frame {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 12px;
  gap: 12px;
  width: 350px;
  border-bottom: 1px solid #444444;
  cursor: pointer;
}

.history-item-title {
  width: 350px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.history-item-description {
  width: 350px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
}

.history-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 350px;
  height: 20px;
}

.history-item-time {
  height: 14px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8F8F8F;
}

.history-item-tag-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;
  background: #444444;
  border-radius: 99px;
}

.history-item-tag {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}
