@keyframes sweepIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.transcription-container {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
}

.no-fade {
  -webkit-mask-image: none;
  mask-image: none;
}

.transcription-scroll-area > div:last-child .transcription-tile {
  animation: sweepIn 0.5s ease-out forwards;
}

.transcription-tile {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.transcription-tile p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.user-bubble {
  background-color: #DBEAFE; /* light blue-100 */
  color: #1E3A8A; /* dark blue-800 */
}

.user-bubble p {
  text-align: right;
}

.agent-bubble {
  background-color: #F3F4F6; /* gray-100 */
  color: #1F2937; /* gray-800 */
}

.agent-bubble p {
  text-align: left;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.disappearing {
  animation: fadeOut 1s ease-out forwards;
}

.visual-item {
  animation: sweepIn 0.5s ease-out forwards;
  width: 100%;
  max-width: 620px;
  margin: 0 auto 10px;
}

.transparent-input {
  background-color: transparent !important;
}

.call-controls {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}
