.my-wealth-drawer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 400px;
  height: 100%;
  z-index: 20;
  background: #000000;
  border-left: 1px solid #8B8B8B;
  border-radius: 12px;
  color: #FFFFFF;
  font-family: var(--font-sans);
}

.wealth-profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.wealth-profile-title {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.5px;
  margin-left: 16px;
}

.relationship-config-section {
  margin-bottom: 24px;
}

.section-title {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 8px;
}

.section-description {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.avatars-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}

.avatar.active {
  opacity: 1;
}


.avatar span {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.sound-interaction-section {
  margin-bottom: 24px;
}

.sound-interaction-description {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

.sound-player {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-top: 16px;
  border-top: 1px solid #444444;
}

.play-button {
  width: 24px;
  height: 24px;
}

.sound-wave {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 55px;
}

.sound-wave-bar {
  width: 2px;
  background: #D9D9D9;
  border-radius: 12px;
}

.profile-section {
  margin-top: 16px;
  width: 100%;
}

.profile-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background: #26292B;
  border: 1px solid #3D3D3D;
  border-radius: 12px;
  margin-bottom: 8px;
  width: 100%;
}

.profile-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-info h3 {
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 4px;
}

.profile-info p {
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -1px;
}

.info-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
  background: #26292B;
  border: 1px solid #3D3D3D;
  border-radius: 12px;
  margin-bottom: 8px;
  width: 100%;
}

.info-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card-title {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
}

.info-card-content {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -1px;
}

.info-card-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 99px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

/* .notification-card {
  cursor: pointer;
} */
