.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    background-color: #B19658;
    overflow: hidden;
    color: white;
    z-index: 100;
    font-family: 'SF Pro', sans-serif;
    box-sizing: border-box;
}

.status-bar.transparent-bg {
    background-color: transparent;
}

.time {
    font-weight: 590;
    font-size: 15px;
    letter-spacing: -0.4px;
    text-align: left;
    padding-left: 24px;
}

.status-bar-center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

.status-bar-center {
    width: 125px;
    height: 28px;
    background: #222;
    border-radius: 20px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
