.stock-performance-visual {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stock-performance-card {
    /* background-color: #000000; */
    color: white;
    border-radius: 1rem; /* Rounded corners */
    padding: 1rem; /* Padding around the content */
    width: 100%;
    max-width: 450px; /* Increased max-width for better spacing */
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    font-family: var(--font-sans);
  }
  
  .stock-performance-card .header {
    font-size: 1.25rem; /* Larger font size for the header */
    line-height: 1.75rem;
    margin-bottom: 1rem; /* Increased margin below the header */
    color: #E5E7EB; /* Lighter gray for the header text */
    text-align: left;
  }
  
.stock-performance-card .metrics {
  display: flex;
  justify-content: flex-start; /* This will push the two metrics to the sides */
  gap: 4rem; /* Adds space between the two metric blocks */
}
  
  .stock-performance-card .metric {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
  }
  
  .stock-performance-card .label {
    /* font-size: 0.875rem; */
    line-height: 1.75rem;
    margin-bottom: 1rem; /* Increased margin below the header */    
    font-size: 1.25rem;
    /* line-height: 1rem; */
    color: #FFFFFF;
    /* margin-bottom: 0.5rem; */
    /* text-transform: uppercase;  */
  }

  .stock-performance-card .value {
    font-size: 2rem; /* Larger font size for the value */
    /* line-height: 2.5rem; */
    line-height: 1rem;
    font-weight: 500; /* Bolder font weight */
    color: #FFFFFF;
  }
