ipykernel
google-cloud-storage
streamlit
pandas
plotly
matplotlib
db-dtypes
nbformat>=4.2.0
streamlit-tags
dotenv
google-cloud-pipeline-components
gcsfs
pipfile
ipython
asyncio
tqdm
tenacity
etils
importlib-resources
fsspec
ipywidgets
google-cloud-aiplatform
tensorflow
pylint
google-genai
