aiohttp
aiosignal
altair
anyio
appdirs
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
dataclasses-json
dill
fastapi
filelock
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
grpcio
grpcio-status
hydra-core
httpx
idna
importlib-metadata
Jinja2
joblib
jsonpatch
jsonschema
langchain
langchain-community
langchain-core
langchain-google-vertexai
langchain-text-splitters
llama-index
llama-index-core
llama-index-embeddings-vertex
llama-index-llms-vertex
llama-index-vector-stores-chroma
llama-index-vector-stores-vertexaivectorsearch
lxml
markdown-it-py
markdownify
marko
marshmallow
more-itertools
multidict
numpy
oauthlib
openai
orjson
pandas
pdfminer.six
pillow
pydantic
pydantic_core
pypdf
PyYAML
pytest
ragas==0.1.9
requests
requests-oauthlib
rich
six
SQLAlchemy
starlette
tiktoken
tqdm
typer
typing_extensions
uvicorn
uvloop
websockets
yarl
zipp
google-cloud-secret-manager
google-cloud-documentai
plotly
