.toolbar-spacer {
    flex: 1 1 auto;
  }

.toolbar-logo {
  height: 40px;
  margin-top: 15px;
  margin-right: 15px;
}

.small-toolbar-logo {
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
}

.app-title {
  margin-left: 47px;
}

mat-toolbar {
  margin-bottom: 30px;
  height: 100px;
}

