<div>
    <mat-toolbar>
        @if(!isSmallScreen) {
            <div>
                <img src="/assets/investments.png" alt="Investments" class="toolbar-logo" />
                <h3 class="app-title">GenWealth</h3>
            </div>
        } @else {
            <div>
                <img src="/assets/small-logo.png" alt="Investments" class="small-toolbar-logo" />
            </div>
        }
        <span class="toolbar-spacer"></span>
        <button mat-button routerLink="/investments">Investments</button>
        <button mat-button routerLink="/prospects">Prospects</button>
        <button mat-button routerLink="/chat">Ask</button>
        <button mat-button routerLink="/research">Research</button>        
    </mat-toolbar>
    <body>
        <router-outlet></router-outlet>
    </body>
</div>