GEMINI_API_ENVIRONMENT="vertex"
GEMINI_API_PROJECT="YOUR_PROJECT_NUMBER"
GEMINI_API_LOCATION="YOUR_LOCATION"
GEMINI_API_MODEL="gemini-2.5-flash"
GOOGLE_GENAI_USE_VERTEXAI="true"
GOOGLE_CLOUD_PROJECT="YOUR_PROJECT_NUMBER"
GOOGLE_CLOUD_LOCATION="YOUR_LOCATION"
GCS_BUCKET_NAME="YOUR_BUCKET_NAME"
