.investment-container {
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    place-items: top;    
}

.investment-card {
    background-color: #205010;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.rating {
    font-weight: bolder;
    font-variant: small-caps;
}

.no-results {
    color: red;
}
