/* .chart-wrapper {
  width: 407px;
  height: 331px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

.chart-title {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.chart-content {
  display: flex;
  flex-grow: 1;
}

.y-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #686868;
  margin-right: 10px;
  text-align: right;
  height: 230px;
}

.chart-area {
  flex-grow: 1;
  padding-right: 15px;
}

.x-labels {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #686868;
  padding: 0 8px;
  margin-top: 10px;
} */
