

.login-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(/figma/login-bg.png) no-repeat center center;
  background-size: cover;
}

.group-1272628677 {
  position: absolute;
  width: 45%;
  height: 134px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title-card {
  box-sizing: border-box;
  display: flex !important; /* Important to override slick slider styles */
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  gap: 12px;
  width: 100% !important; /* Important to override slick slider styles */
  height: 97px;
  background: #000000;
  /* border: 0.5px solid #F1EFED; */
  border-radius: 6px;
  margin: 0 auto;
}

.vector {
  width: 47px;
  height: 47px;
  background: #F1EFED;
}

.frame-1410104581 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 145px;
  height: 66px;
}

.frame-1410104580 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 145px;
  height: 19px;
}

.ask-wealth {
  width: 99px;
  height: 19px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F1EFED;
}

.ai-powered-insights {
  width: 144px;
  height: 39px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #F1EFED;
}

.pie {
  width: 47px;
  height: 47px;
}

.ellipse-3669 {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 0px;
  top: 0px;
  background: rgba(241, 239, 237, 0.5);
}

.ellipse-3670 {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 0px;
  top: 0px;
  background: #F1EFED;
}

.three-sixty {
  position: absolute;
  width: 22px;
  height: 12px;
  left: 12.37px;
  top: 17.32px;
  font-style: italic;
  font-weight: 400;
  font-size: 9.89474px;
  line-height: 12px;
  color: #F1EFED;
}

.three-sixty-view {
  width: 83px;
  height: 19px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F1EFED;
}

.visibility-into-investments {
  width: 140px;
  height: 39px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #F1EFED;
}

.where-wealth-happens {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 73%;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 900;
  font-size: 3.25rem;
  line-height: 100%;
  color: #FFFFFF;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.frame-1410105062 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 100%;
  bottom: 80px;
}

.frame-1410104884 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
  gap: 10px;
  width: 450px;
  height: 48px;
  background: #B19658;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
}

.get-started-hover {
  background: #000000;
}

.frame-1410104885 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: auto;
  height: 20px;
}

.get-started {
  width: auto;
  height: 20px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.frame-1410104882 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  width: 450px;
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
}

.frame-1410104888 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: auto;
  height: 20px;
}

.dont-have-an-account {
  width: auto;
  height: 20px;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/*.slick-dots {
  bottom: -30px !important;
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}*/
