<div *ngIf="chatRequest" class="example-container">

    <mat-form-field>
        <mat-label>User Id</mat-label>
        <input matInput [(ngModel)]="chatRequest.userId" type="text" floatLabel="always">
        <mat-slide-toggle style="margin-top: 10px;" [disabled]="!chatRequest.userId" [(ngModel)]="chatRequest.useHistory">Use History</mat-slide-toggle>
    </mat-form-field>

    <mat-form-field>
        <mat-label>LLM Role</mat-label>
        <input matInput [(ngModel)]="chatRequest.llmRole" type="text" floatLabel="always">
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="chatRequest.llmRole = defaultRequest.llmRole">
            prompt_suggestion
        </mat-icon>            
    </mat-form-field>

    <mat-form-field>
        <mat-label>Mission</mat-label>
        <textarea matInput cdkTextareaAutosize [(ngModel)]="chatRequest.mission" type="text" floatLabel="always"></textarea>
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="chatRequest.mission = defaultRequest.mission">
            prompt_suggestion
        </mat-icon>        
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Output Instructions</mat-label>
        <textarea matInput cdkTextareaAutosize [(ngModel)]="chatRequest.outputInstructions" type="text" floatLabel="always"></textarea>
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="chatRequest.outputInstructions = defaultRequest.outputInstructions">
            prompt_suggestion
        </mat-icon>        
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Response Restrictions</mat-label>
        <textarea matInput cdkTextareaAutosize [(ngModel)]="chatRequest.responseRestrictions" type="text" floatLabel="always"></textarea>
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="chatRequest.responseRestrictions = defaultRequest.responseRestrictions">
            prompt_suggestion
        </mat-icon>              
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Disclaimer</mat-label>
        <textarea cdkTextareaAutosize matInput [(ngModel)]="chatRequest.disclaimer" type="text" floatLabel="always"></textarea>
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="chatRequest.disclaimer = defaultRequest.disclaimer">
            prompt_suggestion
        </mat-icon>          
    </mat-form-field>    

    <button mat-button color="primary" (click)="useDefault()">Default</button>
    <button mat-button color="secondary" (click)="reset()">Reset</button>

</div>
