aiohttp==3.8.6
backoff==2.2.1
docx==0.2.4
fpdf==1.7.2
google_cloud_aiplatform==1.48.0
numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.8.1.78
pandas==2.2.2
Pillow==10.3.0
pipreqs==0.5.0
protobuf==5.26.1
PyPDF2==1.28.6
PyPDF2==3.0.1
python-dotenv==1.0.1
python_docx==1.1.0
pytomlpp==1.0.13
streamlit==1.33.0
streamlit_drawable_canvas==0.9.3
vertexai==1.48.0
