pylint
vertexai
google-auth
google-cloud-documentai
google-cloud-storage
google-cloud-documentai-toolbox
shapely<2.0.0
google-cloud-aiplatform
transformers[sentencepiece]
pyPDF2
streamlit
streamlit-tree-select
streamlit-keyup
pytomlpp
streamlit_carousel
streamlit_drawable_canvas
langchain
langchain-experimental
chromadb
backoff
db-dtypes
pandas-gbq
opencv-python
fpdf
opencv-python-headless
python-docx
dask
dotenv
pillow
st_pages
numpy
docx
distributed
pandas
aiohttp




