mat-drawer-container {
    height: 100vh;
    padding: 8px;
    background: white;
}

.chat-response {
    margin-top: 25px;
    margin-bottom: 25px;
}

button {
    margin: 5px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
    max-width: 50%;
}

mat-spinner {
    margin: auto;
    padding-bottom: 50px;
}
