    <div class="configure-title">
      <span>Configure Agent Builder</span>
    </div>

  <div [formGroup]="this.intentForm">

    <mat-form-field
    class="intent-field"
    appearance="outline"
    [floatLabel]="'always'"
  >
    <mat-label>Agent Builder name</mat-label>
    <input
      matInput
      [formControl]="this.intentForm.controls.name"
      placeholder="Intent name"
      type="text"
    />
  </mat-form-field>

  <div class="button-container">
    <button mat-button
    *ngIf="!this.showSpinner"
    class="submit-button" [disabled]="!this.intentForm.valid" (click)="saveForm()">Save</button>
    <div class="spinner-container" *ngIf="this.showSpinner">
      <mat-spinner style="width: 60px; height: 60px"></mat-spinner>
    </div>
  </div>
  </div>
