@use '@angular/material' as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cymbal-primary: mat.define-palette(mat.$green-palette, 700); 
$cymbal-accent:  mat.define-palette(mat.$blue-palette, 500);
$cymbal-warn:    mat.define-palette(mat.$red-palette);

// Theme creation
$cymbal-theme: mat.define-light-theme((
  color: (
    primary: $cymbal-primary,
    accent: $cymbal-accent,
    warn: $cymbal-warn,
  ),
  typography: mat.define-typography-config(
    $subtitle-1: mat.define-typography-level($font-family: "DM Sans",
    $font-weight: 400,
    $font-size: 1rem,
    $line-height: 1,
    $letter-spacing: normal,)
  ),
  desity: 0,
));

mat-card {
  padding: 15px;
  margin-bottom: 20px;
}

button.mdc-button {
  border-radius: 25px;
}

mat-card-title {
  padding-bottom: 8px;
}

.snackbar-error {
  --mdc-snackbar-container-color: #FF0000;
  span { color: black; }
}

@include mat.all-component-themes($cymbal-theme);
