<div class="parent-container">
  <div class="wrapping-container">
    <div class="main-div" *ngIf="!this.showResults">
      <div class="sub-heading">
        <div class="name-container">
          Hey, {{savedUser.name ? savedUser.name!.split(" ")[0]+'!' : ''}}
        </div>
        <div class="helper-container">How can I help you today?</div>
      </div>
    </div>
</div>

<div class="chat-footer-outer">
  <div class="chat-footer">
    <div class="chat-textarea">
      <mat-chip-grid class="intent-chip-textarea category-chip"
        style="width: 100%;" #chipGrid aria-label="Enter intent">
        <input [matChipInputFor]="chipGrid"
          placeholder="Ask your question here"
          [(ngModel)]="chatQuery" 
          (keydown.enter)="navigate()" />
      </mat-chip-grid>
    </div>
    <div class="micIcon">
      <button mat-icon-button (click)="navigate()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
