<div class="parent-container">
  <div class="wrapping-container">
    <div class="main-div" *ngIf="!this.showResults">
      <div class="sub-heading">
        <div class="name-container">
          Hey, {{savedUser.name ? savedUser.name!.split(" ")[0]+'!' : ''}}
        </div>
        <div class="helper-container">How can I help you today?</div>
      </div>
    </div>

    <div class="chat-footer-outer">
      <app-chat-input (emitSearch)="searchTerm($event)"></app-chat-input>
    </div>
    <div class="search-results-outer"  *ngIf="this.showResults">
      <app-search-results [searchResults]="searchResults"></app-search-results>
  </div>
</div>
