.file-input {
    display: none;
  }

.ticker {
    width: 100px;
}

.upload-button {
    align-items: center;
    margin-left: 7px;
}

.vertex-button {
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.search-button {
    
}

.search-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

.search-field {
    width: 100%;
    margin-left: 10px;
}

.summary-results {
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-spinner {
    margin-bottom: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .uploading-spinner {
    top: 50%;
    left: 50%;

    height: 150px;
    margin-top: 15px;
  }
  
.results-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.results-card {
  width: 50%;;
}

.results-spacer {
  width:15px;
}
