<mat-card>
    <mat-card-title>Ideal Investments</mat-card-title>
    <mat-radio-group [(ngModel)]="searchType">
        <mat-radio-button value="{{searchTypes.KEYWORD}}">Keyword Search</mat-radio-button>
        <mat-radio-button value="{{searchTypes.SEMANTIC}}">Semantic Search</mat-radio-button>
    </mat-radio-group>    
    <mat-form-field>
        <input matInput [(ngModel)]="investmentSearch" (keydown.enter)="findInvestments()"
            [placeholder]="searchType == searchTypes.KEYWORD ? KEYWORD_PLACHOLDER : SEMANTIC_PLACEHOLDER">
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="investmentSearch = getSuggestion()">
            prompt_suggestion
        </mat-icon>
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="investmentSearch.length === 0" 
            (click)="findInvestments()">Find</button>
    </mat-card-actions>
    <app-investment-results [investments]="investments"></app-investment-results>    
</mat-card>
