<div>
    <div class="configure-title">
        <span>Configure Agent Builder</span>
      </div>
    
    <div [formGroup]="this.agentBuilderForm">
        <div>
            <mat-form-field
                class="agent-field"
                appearance="outline"
                [floatLabel]="'always'"
                >
                <mat-label>Agent Builder URL</mat-label>
                <input
                matInput
                [formControl]="this.agentBuilderForm.controls.url"
                placeholder="agent builder url"
                type="text"
                />
            </mat-form-field>
        </div>
        
        <div class="button-container">
        <button mat-button
        *ngIf="!this.showSpinner"
        class="submit-button" [disabled]="!this.agentBuilderForm.valid" (click)="saveForm()">Save</button>
        <div class="spinner-container" *ngIf="this.showSpinner">
            <mat-spinner style="width: 60px; height: 60px"></mat-spinner>
        </div>
        </div>
    </div>
</div>
